<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/base_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />

</head>
<body>
<main layout:fragment="content">
    <form class="optionForm" action="/campaign08" method="get" id="form">
    </form>
    <div class="leader-container">
        <!-- <div class="campaign-list" id="popularList"> -->

            <th:block th:each="leader : ${leaderList}">
                <a th:href="|/leader02?id=${leader.id}|">
                    <!-- <div class="campaign-item"> -->

                    <div class="campaign-card">
                        <div th:if="${leader.filePath != null}">
                            <img id="imgFile" th:src="|/selectProfile?id=${leader.id}&args=1|" alt="파일이미지" class="leader-image"/>    
                        </div>
                        <div th:unless="${leader.filePath != null}">
                            <img id="imgFile" th:src="|/images/not-image.png|" alt="파일이미지" class="leader-image"/>
                        </div>
                        <div class="campaign-info-box">
                            <div class="campaign-tags leader_name">
                                <span th:text="|${leader.userNm}|"></span> <span>인솔자</span>
                            </div>
                            <!-- <div class="campaign-tags">
                                <span class="tag leader">
                                    <span th:text="|${campaign.userNm}|"></span>
                                    <span class="sub-text">인솔자</span>
                                </span> 
                                <span class="card-badge"
                                th:data-app-end-date-str="${campaign.appPeriodEnd != null ? #temporals.format(campaign.appPeriodEnd, 'yyyy-MM-dd') : ''}"
                                th:data-campaign-id="${campaign.campaignId}"></span>
                            </div>
                            <div class="title-overlay">
                                <div class="card-title">
                                    <span class="campaign-title-text" th:text="${campaign.campaignTitle}"></span>
                                </div>
                            </div>
                            <div class="title-overlay">
                                <div class="card-point">
                                    포인트 : <span class="campaign-title-text" th:text="${#numbers.formatInteger(campaign.campaignPay, 3, 'COMMA')}"></span>
                                </div>
                            </div>
                            <div class="campaign-stats">신청 <span th:text="${campaign.applicantsNum}"></span> / <span class="recruitment-num">모집 <span th:text="${campaign.recruitmentNum}"></span></span></div> -->
                        </div>
                    </div>
                    <!-- </div> -->
                </a>
        </th:block>
    </div>
    <div class="leader-container-mobile">
        <th:block th:each="leader : ${leaderList}">
            <div class="campaign-item">
            <div class="guest-message">
                <a th:href="|/leader02?id=${leader.id}|">
                    <div class="campaign-card">
                        <div class="leader-image">
                            <img th:if="${leader.filePath != null}" id="imgFile" th:src="|/selectProfile?id=${leader.id}&args=1|" alt="파일이미지" class="leader-image"/>
                        </div>
                        <div class="campaign-info-box">
                            <div class="campaign-tags leader_name">
                                    <span th:text="|${leader.userNm}|"></span> <span>인솔자</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </th:block>
    </div>
</main>
</body>
</html>