<div id="modalPop" class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="popup-content">
        
        <div class="modal-header">
            <!-- <h4 class="modal-title">참여 유저 리스트</h4> -->
            <h5 class="modal-title">캠페인명 : <span th:text="${campaignTitle}"></span></h5>
            <!-- <button type="button" class="btn-close" onclick="closePopup()">x</button> -->
        </div>
        <div class="form-group">
            <!-- <form class="optionForm" th:action="@{/campaignPopup01/${campaignId}}" method="get" id="form"> -->
                <label class="purpleFont" for="dates">캠페인 기간</label>
                <select id="dates" name="applyDate" onchange="changeDate(this)" class="sync-nm mrg16 purpleFont">
                    <option value="ALL">전체</option>
                    <option th:each="date : ${dates}" th:value="${date}" th:text="${date}"></option>
                </select>
                <input type="hidden" id="savedKeyword" th:value="${option.keyword}">
                <label class="purpleFont" for="dates">경호원/진행/수행</label>
                <!-- <select id="dates" name="applyDate" onchange="changeRole(this)" class="sync-nm mrg16 purpleFont"></select> -->
                <div class="sync-nm-box mrg16 purpleFont">
                    <!-- 💡 전체 (최초 실행 시 option.code가 null이거나 빈 값인 경우 포함하여 checked 처리) -->
                    <label>
                        <input type="radio" name="code" class="code-radio" value="" onchange="initCheckboxCount()"
                            th:checked="${option == null or option.code == null or option.code == '' or option.code == '0'}"> 
                        <span>전체</span>
                    </label>
                
                    <!-- 💡 스텝 -->
                    <label>
                        <input type="radio" name="code" class="code-radio" value="00" onchange="initCheckboxCount()"
                            th:checked="${option != null and option.code == '00'}"> 
                        <span>스텝</span>
                    </label>
                
                    <!-- 💡 경호 -->
                    <label>
                        <input type="radio" name="code" class="code-radio" value="02" onchange="initCheckboxCount()"
                            th:checked="${option != null and option.code == '02'}"> 
                        <span>경호</span>
                    </label>
                
                    <!-- 💡 수행 -->
                    <label>
                        <input type="radio" name="code" class="code-radio" value="03" onchange="initCheckboxCount()"
                            th:checked="${option != null and option.code == '03'}"> 
                        <span>수행</span>
                    </label>
                
                    <!-- 💡 인솔자 -->
                    <label>
                        <input type="radio" name="code" class="code-radio" value="04" onchange="initCheckboxCount()"
                            th:checked="${option != null and option.code == '04'}"> 
                        <span>인솔자</span>
                    </label>
                </div>

                <!-- <select id="dates" name="applyDate" onchange="changeRole(this)" class="sync-nm mrg16 purpleFont">
                    <option value="ALL">전체</option>
                    <option th:each="date : ${dates}" th:value="${date}" th:text="${date}"></option>
                </select> -->
                <div id="inputArea" class="inputArea">
                    <input type="text" class="search_keyword" id="keyword" name="keyword" th:value="${option.keyword}" placeholder="검색어를 입력해 주세요.">
                    <button class="optionSubmit" id="btnSearch" type="button">검색</button>
                </div>
                <!-- <input type="text" name="keyword"  th:value="${param.keyword}"> -->
            <!-- </form> -->
        </div>
        <div class="popup-body">
            <table class="user_info table table-hover">
                <colgroup>
                    <col width="8%"></col>
                    <col width="30%"></col>
                    <col width="20%"></col>
                    <col width="*"></col>
                </colgroup>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>이름</th>
                        <th>직급</th>
                        <th>휴대폰번호</th>
                    </tr>
                </thead>
                <tbody Id="userList">
                    <!-- <tr th:each="user : ${userList}">
                        <td th:text="${user.name}">홍길동</td>
                        <td th:text="${user.email}">hong@test.com</td>
                        <td th:text="${user.createdDate}">2026-06-19</td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(userList)}">
                        <td colspan="3" class="text-center">참여자가 없습니다.</td>
                    </tr> -->
                    <th:block th:each="userInfo, stat : ${userInfoList}">
                        <tr>
                            <td>
                                <input type="hidden" th:value="${userInfo.userId}" class="user_Id" name="userId">
                                <!-- <input th:value="${userInfo.id}" type="checkbox" class="user_Chk" name="Attendance"> -->
                                <input th:value="${userInfo.id}" type="checkbox" 
                                    th:classappend="${userInfo.isApplied == 'Y'} ? 'already-applied' : ''"
                                    class="user_Chk" name="Attendance" onclick="chkBoxSelect()">
                            </td>
                            <td><span th:text="${userInfo.userNm}"></span></td>
                            <td><span th:text="${userInfo.guardTypeNm ?: '미지정'}"></span></td>
                            <td><span th:text="${userInfo.phoneNum}"></span></td>
                            <!-- <td><span th:text="${userInfo.isApplied}"></span></td> -->
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div>
                <span id="chkPcs"></span> / <span id="recPcs"></span>
            </div>
            <button type="button" class="btn btn-secondary" th:onclick="applyCampaign([[${campaignId}]])">신청하기</button>
            <button type="button" class="btn btn-secondary" th:onclick="cancelCampaign([[${campaignId}]])">취소하기</button>

            <button type="button" class="btn btn-secondary" onclick="closeModal()">닫기</button>
        </div>
    </div>
</div>

