<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>행집 명단 확인 - 특이사항</title>
    <link rel="stylesheet" href="/mobile/css/style.css" />
</head>
<body class="bodyApply">
    <div class="section applicant-list-area">
        <div class="applicant-item-title">
            특이사항 설정
        </div>
        
        <div class="applicant-item3">
            <div class="applicant-info">
                <div class="width100 mrg-b5 applicant-item">
                    <div class="btn-area">
                        <a class="statusInfoChange statusInfoChangeConfirm button_status" href="#" data-status="3" 
                            th:onclick="updateSignificantStatus(this.dataset.status, [[${userNo}]], [[${campaignId}]], [[${applyDate}]]); return false;">지각</a>
                        
                        <a class="statusInfoChange statusInfoChangeConfirm button_status" href="#" data-status="4" 
                            th:onclick="updateSignificantStatus(this.dataset.status, [[${userNo}]], [[${campaignId}]], [[${applyDate}]]); return false;">결근</a>
                        
                        <a class="statusInfoChange statusInfoChangeConfirm button_status" href="#" data-status="5" 
                            th:onclick="updateSignificantStatus(this.dataset.status, [[${userNo}]], [[${campaignId}]], [[${applyDate}]]); return false;">무단</a>
                    </div>
                    
                    <div class="btn-area-significant">
                        <input type="number" class="input-significant modal-amount" name="amount" step="100" placeholder="금액" >
                        <input type="text" class="input-significant modal-reason" name="reasonInfo" placeholder="사유 입력">
                        
                        <button type="button" class="statusInfoChange statusInfoChangeConfirm button_status significant_btn"
                                th:onclick="significantInsert([[${campaignId}]], [[${userNo}]], [[${applyDate}]])">
                            특이사항 저장
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>