<div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="popup-content">
        
        <div class="modal-header">
            <h4 class="modal-title">참여 유저 리스트</h4>
            <h5 class="modal-title">캠페인명 : <span th:text="${campaignTitle}"></span></h5>
            <!-- <button type="button" class="btn-close" onclick="closePopup()">x</button> -->
        </div>
        
        <div class="popup-body">
            <table class="user_info table table-hover">
                <colgroup>
                    <col width="10%"></col>
                    <col width="40%"></col>
                    <col width="*"></col>
                </colgroup>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>이름</th>
                        <th>휴대폰번호</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr th:each="user : ${userList}">
                        <td th:text="${user.name}">홍길동</td>
                        <td th:text="${user.email}">hong@test.com</td>
                        <td th:text="${user.createdDate}">2026-06-19</td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(userList)}">
                        <td colspan="3" class="text-center">참여자가 없습니다.</td>
                    </tr> -->
                    <th:block th:each="userInfo, stat : ${userInfoList}">
                        <tr>
                            <td>
                                <input type="hidden" th:value="${userInfo.userId}" class="user_Id" name="userId">
                                <!-- <input th:value="${userInfo.id}" type="checkbox" class="user_Chk" name="Attendance"> -->
                                <input th:value="${userInfo.id}" type="checkbox" 
                                    th:classappend="${userInfo.isApplied == 'Y'} ? 'already-applied' : ''"
                                    class="user_Chk" name="Attendance">
                            </td>
                            <td><span th:text="${userInfo.userNm}"></span></td>
                            <td><span th:text="${userInfo.phoneNum}"></span></td>
                            <!-- <td><span th:text="${userInfo.isApplied}"></span></td> -->
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" th:onclick="applyCampaign([[${campaignId}]])">신청하기</button>
            <button type="button" class="btn btn-secondary" th:onclick="cancelCampaign([[${campaignId}]])">취소하기</button>

            <button type="button" class="btn btn-secondary" onclick="closePopup()">닫기</button>
        </div>
        
    </div>
</div>