<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/base_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="@{/css/style.css}" />
    <style>
        table {
            width: 45%;
            border-collapse: collapse;
        }
        
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <main layout:fragment="content">
        <div class="main-side-content">
            <div class="container">
                <!-- <th:block th:replace="~{fragments/noticeSidebar :: sidebarMenu}" /> -->
            </div>
            <div class="ranking-container">
                <!-- <div class="bestAgent_title">경호 캠페인 참여 랭킹</div> -->
                <div>
                <div class="section-title">출석</div>
                <table class="bestAgentList">
                    <thead>
                        <tr>
                            <th>랭킹</th>
                            <th>유저 ID</th>
                            <th>유저 이름</th>
                            <th>캠페인 수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="userRank, stat : ${bestAgentList}">
                            <td th:text="${stat.count}"></td>
                            <td th:text="${userRank.userId}"></td>
                            <td th:text="${userRank.userNm}"></td>
                            <td th:text="${userRank.count}"></td>
                        </tr>
                        <tr th:if="${bestAgentList.empty}">
                            <td colspan="4">유저가 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="section-title-point">포인트</div>
                <table class="bestPayList">
                <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>유저 ID</th>
                        <th>유저 이름</th>
                        <th>수행 점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="userRank, stat : ${bestPayList}">
                        <td th:text="${stat.count}"></td>
                        <td th:text="${userRank.userId}"></td>
                        <td th:text="${userRank.userNm}"></td>
                        <td th:text="${userRank.pay}"></td>
                    </tr>
                    <tr th:if="${bestPayList.empty}">
                        <td colspan="4">유저가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>