<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.safeg.user.mapper.FileMapper">
    <resultMap type="com.safeg.user.vo.UserCampaignVO" id="userCampaignMap">
        <id property="id" column="id" />
        <result property="campaignId" column="campaign_id" />
        <result property="userId" column="user_id" />
        <result property="userNm" column="user_nm" />
        <result property="userNo" column="user_No" />
        <result property="userNo" column="user_No" />
        <result property="userNo" column="user_No" />
        <result property="phoneNum" column="phone_num"
                typeHandler="com.safeg.user.util.CryptoTypeHandler" />
        <result property="residentNum" column="resident_Num"/>
        <result property="amount" column="amount"/>
        <result property="campaignTitle" column="campaign_title" />
        <result property="companyNm" column="company_nm" />
        <result property="companyPh" column="company_ph" />
        <result property="applicantsNum" column="applicants_Num" />
        <result property="recruitmentNum" column="recruitment_Num" />
        <result property="status" column="status" />
        <result property="typeNm" column="type_nm" />
        <result property="statusNm" column="status_nm" />
        <result property="appPeriodStr" column="app_period_str" />
        <result property="appPeriodEnd" column="app_period_end" />
        <result property="eventPeriodStr" column="event_Period_Str" />
        <result property="eventPeriodEnd" column="event_Period_End" />
        <result property="timeSegment" column="time_segment" />
        <result property="resultDate" column="result_date" />
        <result property="applyDate" column="apply_date" />
        <result property="placeAddr" column="place_addr" />
    </resultMap>
    <!-- 조회 -->
    <select id="select" resultType="filesVO">
        select * from files where target_id = #{id} and target_type='campaign' and is_deleted = 'N';
    </select>

    <select id="getMypageImage" resultType="filesVO">
        select * from files where target_id = #{id} and target_type=#{targetType} and is_deleted = 'N';
    </select>

    <select id="userList" resultType="java.lang.Long">
        select user_no from user_campaign where campaign_id = #{id}
        <!-- and is_deleted = 'N'; -->
    </select>

    <!-- 등록 -->
    <insert id="insert">
        insert into files (
            file_type, target_id, target_type, original_name, saved_name,
            file_path, file_size, file_extension, created_by, updated_by
        )
        values (
            #{fileType}, #{targetId}, #{targetType}, #{originalName}, #{savedName},
            #{filePath}, #{fileSize}, #{fileExtension}, #{createdBy}, #{updatedBy}
        )
    </insert>

    <!-- 수정 -->
    <update id="update">
        update files
            set file_name = #{fileName},
                file_path = #{filePath},
                file_size = #{fileSize},
                type = #{type},
                parent_table = #{parentTable}
                parent_no =#{parentNo}
        where id= #{id}
    </update>

    <!-- 삭제 -->
    <update id="delete">
        <!-- delete from files
        where id = #{id} -->
        update files set is_deleted = 'Y' where target_id = #{id} and target_type = 'profile' and is_deleted = 'N';
    </update>

    <select id="listByParent" resultType="filesVO">
        select *
        from files
        where parent_table = #{parentTable}
        and parent_no = #{parentNo}
    </select>

    <!-- 부모테이블 기준 파일 삭제 -->
    <delete id="deleteByParent">
        delete
        from files
        where parent_table = #{parentTable}
        and parent_no = #{parentNo}
    </delete>

    <select id="bannerFile" resultType="filesVO">
        select * from files where target_id = #{id} and target_type='BANNER' and is_deleted = 'N';
    </select>

    <update id="deleteImage">
        UPDATE files
        SET is_deleted = 'Y'
        WHERE target_id = #{targetId}
        AND target_type = #{targetType}
        AND is_deleted = 'N'
    </update>

    <select id="businessFile" resultType="filesVO">
        select * from files where target_type='campaign' and is_deleted = 'N';
    </select>

    <select id="excelFileInfo" resultMap="userCampaignMap">
        SELECT
            m.campaign_id,
            m.user_id,
            m.user_no,
            u.user_nm,
            u.phone_Num,
            u.resident_Num,
            c.campaign_title,
            c.leader_pay,
            (CASE
                WHEN c.type_code = '01' THEN '경호'
                WHEN c.type_code = '02' THEN '진행'
                WHEN c.type_code = '03' THEN '수행'
                ELSE ''
            END) AS type_nm,
            (CASE
                WHEN m.status = '0' THEN '대기'
                WHEN m.status = '1' THEN '출근'
                WHEN m.status = '2' THEN '퇴근'
                WHEN m.status = '3' THEN '지각'
                WHEN m.status = '4' THEN '결근'
                WHEN m.status = '5' THEN '무단'
                WHEN m.status = '8' THEN '인솔자' -- camp_leader status 처리 필요 시 추가
                WHEN m.status = '9' THEN '인솔자' -- camp_leader status 처리 필요 시 추가
                ELSE '없음'
            END) AS status_nm,
            ph.reason_info,
            c.time_segment,
            m.apply_date,
            ph.amount,
            m.is_deleted,
            m.user_type -- 'USER' 또는 'LEADER' 구분이 필요할 때 사용
        FROM (
            /* 1. 일반 지원자 목록 */
            SELECT
                campaign_id,
                user_id,
                id AS user_no,
                status,
                apply_date,
                time_segment,
                is_deleted,
                'USER' AS user_type
            FROM user_campaign uc
            WHERE uc.campaign_id = #{campaignId}
            AND DATE(uc.apply_date) = #{applyDate}
            AND uc.time_segment = #{timeSegment}
            AND is_deleted = 'N'
            UNION ALL
            /* 2. 인솔자(리더) 목록 */
            SELECT
                cl.campaign_id,
                user_id,
                user_no,
                status,
                apply_date,
                c.time_segment,
                cl.is_deleted,
                'LEADER' AS user_type
            FROM camp_leader cl
            left outer join campaign c
            on cl.campaign_id =  c.CAMPAIGN_ID
            WHERE cl.campaign_id = #{campaignId}
            AND DATE(cl.apply_date) = #{applyDate}
            AND c.time_segment = #{timeSegment}
            AND cl.is_deleted = 'N'
        ) m
        LEFT OUTER JOIN user u
            ON m.user_id = u.user_id
        LEFT OUTER JOIN campaign c
            ON m.campaign_id = c.campaign_id
        LEFT OUTER JOIN point_history ph
            ON m.campaign_id = ph.campaign_id
        AND m.user_id = ph.user_id
        AND ph.category = 'OVERPAY'
        AND ph.is_deleted = 'N'
    </select>

</mapper>