<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.safeg.user.mapper.LeaderMapper">
    
    <select id="leaderSelect1" resultType="AdminContentVO">
        SELECT 
            Admin_Content_id,
            title,
            content,
            content_type,
            author,
            created_at,
            updated_at
        FROM 
            Admin_Content
        where
            is_active = 'Y'
            and content_type='LEADER'
    </select>

    <select id="leaderList" resultType="UserVO">
        SELECT
            u.id,
            u.user_nm,
            f.file_path
        FROM
            user u
        LEFT OUTER JOIN files f
        ON u.id = f.target_id
        AND f.target_type = 'profile'
        AND f.is_deleted = 'N'
        WHERE
            u.role = 'LEADER'
        AND
            u.is_deleted = 'N'
    </select>

    <select id="leaderSelect" resultType="AdminContentVO">
        <!-- SELECT 
            content
        FROM 
            Admin_Content
        where
            is_active = 'Y'
            and content_type='LEADER'
 -->

        SELECT 
            Admin_Content_id,
            title,
            content,
            content_type,
            author,
            created_at,
            updated_at
        FROM 
            Admin_Content
        where
            is_active = 'Y'
            and content_type='LEADER'
            and user_no = #{id}
    </select>
</mapper>