<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.safeg.user.mapper.MainMapper">
    <resultMap id="campaignResultMap" type="com.safeg.user.vo.CampaignVO"> <!-- type도 너의 실제 VO 패키지 -->
        <!-- ... 다른 필드 ... -->
        <result property="eventPeriodStr" column="event_Period_Str"
                javaType="java.time.LocalDate" typeHandler="com.safeg.user.config.StringToLocalDateTypeHandler"/>
        <!-- event_Period_Str도 있다면 동일하게 추가 -->
        <result property="eventPeriodEnd" column="event_Period_End"
                javaType="java.time.LocalDate" typeHandler="com.safeg.user.config.StringToLocalDateTypeHandler"/>
        <result property="AppPeriodStr" column="app_period_str"
                javaType="java.time.LocalDate" typeHandler="com.safeg.user.config.StringToLocalDateTypeHandler"/>
        <result property="AppPeriodEnd" column="app_period_end"
                javaType="java.time.LocalDate" typeHandler="com.safeg.user.config.StringToLocalDateTypeHandler"/>
        <result property="resultDate" column="result_date"
                javaType="java.time.LocalDate" typeHandler="com.safeg.user.config.StringToLocalDateTypeHandler"/>
    </resultMap>
    <resultMap id="userAppliedCampaignMap" type="com.safeg.user.vo.UserCampaignVO">
        <result property="campaignId" column="campaign_id"/>
        <result property="appliedStartDate" column="applied_start_date"/>
        <result property="appliedEndDate" column="applied_end_date"/>
    </resultMap>

    <resultMap id="campaignMap" type="CampaignVO">
        <id property="campaignId" column="campaign_id" />

        <result property="companyNm" column="company_Nm" />
        <result property="companyPh" column="company_Ph" />
        <result property="campaignTitle" column="campaign_Title" />
        <result property="recruitmentNum" column="recruitment_Num" />
        <result property="applicantsNum" column="applicants_Num" />
        <result property="campaignPay" column="campaign_pay" />
        <result property="timeSegment" column="time_segment" />
        <result property="workHour" column="work_hour" />
        <result property="placeAddr" column="place_Addr" />
        <result property="mission" column="mission" />
        <result property="filePath" column="file_path" />
        <result property="savedName" column="saved_name" />
        <result property="typeCode" column="type_code" />
        <result property="typeNm" column="type_nm" />
        <result property="ucChoice" column="uc_choice" />
        <result property="userNm" column="user_nm" />
        <result property="leaderCode" column="leader_code" />
        <result property="appPeriodStr" column="app_period_str" />
        <result property="appPeriodEnd" column="app_period_end" />
        <result property="eventPeriodStr" column="event_period_str" />
        <result property="eventPeriodEnd" column="event_period_end" />
        <result property="resultDate" column="result_date" />

        <collection property="leaderList" ofType="CampLeaderVO">
            <result property="leaderNm" column="user_nm" />
            <result property="leaderPh" column="phone_Num" />
            <result property="leaderId" column="user_id" />
            <result property="leaderNo" column="user_no" />
            <result property="leaderPay" column="leader_pay" />
            <result property="leaderPoint" column="leader_point" />
        </collection>
    </resultMap>
    <!-- <resultMap type="Users" id="userMap">
        <id property="no" column="no" />

        <result property="no" column="no" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="enabled" column="enabled" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />

        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>

    <resultMap type="UserAuth" id="authMap">
        <result property="no" column="no" />
        <result property="username" column="username" />
        <result property="auth" column="auth" />
    </resultMap> -->

    <select id="campaignFavorite" resultMap="campaignMap">
        <![CDATA[
        SELECT
            c.campaign_id,
            c.campaign_Title,
            c.recruitment_Num,
            c.applicants_Num,
            c.type_code,
            f.saved_name,
            f.file_path,
            CASE
                WHEN c.type_code = '01' THEN '경호'
                WHEN c.type_code = '02' THEN '진행'
                WHEN c.type_code = '03' THEN '수행'
                ELSE ''
            END AS type_Nm,
            CASE
                WHEN c.uc_choice = '01' THEN '캠페인 포인트'
                WHEN c.uc_choice = '02' THEN '유저 포인트'
                ELSE ''
            END AS uc_Choice,
            c.campaign_pay,
            c.app_period_str,
            c.app_period_end,
            c.event_Period_str,
            c.event_Period_End,
            c.time_segment,
            cl.user_nm
        FROM campaign c
        LEFT OUTER JOIN files f
            ON c.campaign_id = f.target_id
        AND f.is_deleted = 'N'
        AND f.target_type = 'campaign'
        LEFT OUTER JOIN camp_leader cl
            ON c.campaign_id = cl.campaign_id
        AND cl.is_deleted = 'N' -- 리더 삭제 여부 조건 추가
        WHERE c.is_deleted = 'N'
        AND c.app_Period_end >= CURDATE()
        AND c.applicants_Num <= c.recruitment_Num
        AND c.is_active = 'Y'
        GROUP BY c.campaign_id, f.SAVED_NAME, f.FILE_PATH, cl.user_nm-- 중복 방지를 위해 그룹화
        ORDER BY c.applicants_Num DESC, c.campaign_id DESC
        ]]>
        <!-- DATE_FORMAT(c.event_Period_Str, '%Y.%m.%d') as event_period_str,
            DATE_FORMAT(c.event_Period_End, '%Y.%m.%d') as event_Period_End -->
    </select>

    <select id="campaignWorkable" resultMap="campaignMap">
        <![CDATA[
        SELECT
            c.campaign_id,
            c.campaign_Title,
            c.recruitment_Num,
            c.applicants_Num,
            c.type_code,
            f.saved_name,
            f.file_path,
            (CASE
                WHEN type_code = '01' THEN '경호'
                WHEN type_code = '02' THEN '진행'
                WHEN type_code = '03' THEN '수행'
                ELSE ''
            END) as typeNm,
            campaign_pay,
            c.app_period_str,
            c.app_period_end,
            event_Period_str,
            event_Period_End,
            time_segment,
            cl.user_nm
            FROM campaign c
        LEFT OUTER JOIN files f
        ON c.campaign_id = f.target_id
        LEFT OUTER JOIN camp_leader cl
        on c.campaign_id = cl.campaign_id
        Where f.is_deleted = 'N'
        and f.target_type = 'campaign'
        and c.is_deleted = 'N'
        and c.app_Period_End > CURDATE()
        and c.applicants_Num <= 1
        and c.is_active = 'Y'
        ORDER BY campaign_id asc
        ]]>
    </select>

    <select id="campaignNew" resultMap="campaignMap">
        <![CDATA[
        SELECT
            c.campaign_id,
            c.campaign_Title,
            c.recruitment_Num,
            c.applicants_Num,
            c.type_code,
            f.saved_name,
            f.file_path,
            (CASE
                WHEN type_code = '01' THEN '경호'
                WHEN type_code = '02' THEN '진행'
                WHEN type_code = '03' THEN '수행'
                ELSE ''
            END) as typeNm,
            campaign_pay,
            c.app_period_str,
            c.app_period_end,
            event_Period_str,
            event_Period_End,
            time_segment,
            cl.user_nm
            FROM campaign c
        LEFT OUTER JOIN files f
        ON c.campaign_id = f.target_id
        LEFT OUTER JOIN camp_leader cl
        on c.campaign_id = cl.campaign_id
        Where f.is_deleted = 'N'
        and f.target_type = 'campaign'
        and c.app_Period_End > CURDATE()
        and c.is_deleted = 'N'
        and c.is_active = 'Y'
        ORDER BY c.created_at desc
        ]]>
    </select>

    <select id="bannerImage" resultType="BannerVO">
        select * from banner where is_deleted = 'N' ;
    </select>

    <select id="campaignSelect" resultType="campaignVO">
        select
            campaign_id,
            company_Nm,
            company_Ph,
            campaign_Title,
            recruitment_Num,
            applicants_Num,
            place_Addr,
            mission,
            <!-- DATE_FORMAT(App_period_str,'%Y-%m-%d') AS app_period_str,
            DATE_FORMAT(App_period_end,'%Y-%m-%d') AS app_period_end,
            DATE_FORMAT(event_period_str,'%Y-%m-%d') AS event_period_str,
            DATE_FORMAT(event_period_str,'%Y-%m-%d') AS event_period_str,
            DATE_FORMAT(result_date,'%Y-%m-%d') AS result_date -->
            app_period_str,
            app_period_end,
            event_period_str,
            event_period_end,
            time_segment,
            result_date
            <!-- DATE_FORMAT(event_Period_str,'%Y-%m-%d') AS event_Period_str,
            DATE_FORMAT(event_Period_end,'%Y-%m-%d') AS event_Period_end -->
        from campaign
        where campaign_id = #{id}
        and is_deleted = 'N'
        and is_active = 'Y'
    </select>
    <select id="campaignApply" resultType="UserCampaignVO">
        select uc.user_id, uc.campaign_id, uc.user_no, c.event_period_str, c.event_period_end
        from user_campaign uc
        left outer join campaign c
        on uc.campaign_id = c.campaign_id
        where uc.user_Id= #{userId}
        and uc.campaign_id = #{campaignId}
    </select>

    <select id="appliedCampaign" resultType="UserCampaignVO">
        SELECT
            campaign_id,
            applied_str_date,
            applied_end_date
        FROM user_campaign
        WHERE user_id = #{userId}
    </select>

    <select id="allView" resultMap="campaignMap">
        <![CDATA[
        SELECT
            c.campaign_id,
            c.campaign_Title,
            c.recruitment_Num,
            c.applicants_Num,
            f.saved_name,
            f.file_path,
            c.app_period_str,
            c.app_period_end,
            c.event_Period_str,
            c.event_Period_End,
            time_segment,
            (CASE
                WHEN type_code = '01' THEN '경호'
                WHEN type_code = '02' THEN '진행'
                WHEN type_code = '03' THEN '수행'
                ELSE ''
            END) as type_nm,
            cl.user_nm,
            c.campaign_pay,
            DATE_FORMAT(c.created_at, '%Y.%m.%d') as created_at
        FROM campaign c
        LEFT OUTER JOIN files f
        ON c.campaign_id = f.target_id
        LEFT OUTER JOIN camp_leader cl
        on c.campaign_id = cl.campaign_id
        and c.is_deleted = 'N'
        Where f.is_deleted = 'N'
        and c.app_Period_End >= CURDATE()
        and c.is_deleted = 'N'
        and is_active = 'Y'
        and f.target_type = 'campaign'
        ]]>
        <if test="option.orderCode == 0"> <!-- 최신 순 -->
            ORDER BY c.created_At DESC, c.campaign_id desc
        </if>
        <if test="option.orderCode == 1"> <!-- 인기 순 -->
            ORDER BY c.applicants_Num DESC, c.campaign_id desc
        </if>
        <if test="option.orderCode == 2"> <!-- 마감임박 순 -->
            ORDER BY ABS(DATEDIFF(App_Period_End, CURDATE())) ASC, c.campaign_id desc;
        </if>
        <if test="option.orderCode == 3"> <!-- 선정확률 높은 순 -->
            and applicants_Num = 0
            ORDER BY c.created_At DESC, c.campaign_id desc
        </if>

    </select>

    <select id="userCampaignApply" resultType="UserCampaignVO">
        select
            uc.campaign_id,
            uc.user_id,
            uc.user_No,
            u.user_nm,
            u.phone_Num,
            c.campaign_title,
            c.event_period_str,
            c.event_period_end,
            c.company_nm,
            c.company_ph,
            c.recruitment_num,
            applicants_Num,
            (CASE
                WHEN c.type_code = '01' THEN '경호'
                WHEN c.type_code = '02' THEN '진행'
                WHEN c.type_code = '03' THEN '수행'
                ELSE ''
            END) as type_nm,
            (CASE
                WHEN uc.status = '0' THEN '신청 대기'
                WHEN uc.status = '1' THEN '선정 완료'
                WHEN uc.status = '2' THEN '참여 완료'
                WHEN uc.status = '3' THEN '정산 완료'
                ELSE '없음'
            END) as status_nm,
            c.app_period_str,
            c.app_period_end,
            c.event_Period_str,
            c.event_Period_End,
            time_segment,
            result_date,
            place_addr
        from user_campaign uc
        left outer join user u
        on uc.user_id = u.user_id
        left outer join campaign c
        on uc.campaign_id = c.campaign_id
        where uc.campaign_id=#{id};
    </select>

    <select id="campaignDeleted" resultType="UserCampaignVO">
    <!-- SELECT c.* FROM campaign c
    WHERE
        c.is_active = 'Y'
    AND
        EXISTS (SELECT 1 FROM files f WHERE f.target_id = c.campaign_id AND f.is_deleted = 'N') -->
        SELECT c.* FROM campaign c
    WHERE
        EXISTS (SELECT 1 FROM files f WHERE f.target_id = c.campaign_id)
    </select>

    <select id="campaignCount" resultType="int">
        SELECT count(*)
        FROM campaign
        WHERE is_deleted = 'Y';
    </select>

    <select id="totalCampaign" resultType="int">
        SELECT count(*)
        FROM campaign where is_deleted = 'N'
    </select>

    <select id="applyDate" resultType="UserCampaignVO">
        SELECT DISTINCT apply_date
        FROM user_campaign
        WHERE
            campaign_id = #{campaignId}
    </select>

    <update id="updateIsActive">
        <![CDATA[
            UPDATE campaign
            SET
                is_active = 'N',
                updated_at = NOW()
            WHERE
                is_active = 'Y'
            AND
                is_deleted = 'N'
            AND
                campaign_id = #{campaignId}
        ]]>
    </update>
    <select id="bannerList" resultType="BannerVO">
        SELECT
            banner_id,
            url,
            title
        FROM banner
        WHERE is_deleted = 'N'
        ORDER BY banner_id
    </select>
</mapper>