<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resister.bdgd_user.mapper.UserDetailMapper">
    <resultMap type="Users" id="userMap">
        <id property="no" column="no" />
        <result property="id" column="id" />
        <result property="accountNumber" column="account_number" />
        <result property="bankNm" column="bank_nm" />
        <result property="depositor" column="depositor" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="isDeleted" column="is_deleted" />
        <result property="isStopped" column="is_stopped" />
        <result property="nickname" column="nickname" />
        <result property="password" column="password" />
        <result property="phone" column="phone" />
        <result property="point" column="point" />
        <result property="roleCd" column="role_cd" />
        <result property="addressId" column="address_id" />
        <result property="stoppedDate" column="stopped_date" />
        <result property="memo" column="memo" />
        <result property="profileImage" column="profile_image" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        <result property="referrer" column="referrer" />
        <result property="enabled" column="enabled" />
        <result property="filePath" column="file_path" />
        <collection property="authList" resultMap="authMap"></collection>
    </resultMap>
        
    <resultMap type="UserAuth" id="authMap">
        <result property="no" column="no" />
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="auth" column="auth" />
        <result property="authCd" column="auth_cd" />
    </resultMap>

    <!-- 회원 조회 - id -->
    <select id="select" resultMap="userMap">
        SELECT 
            u.id,
            u.user_id,
            u.password,
            u.user_nm,
            u.email,
            u.enabled,
            u.phone_num,
            u.nickname,
            u.bank_nm,
            u.depositor,
            u.account_number,
            u.created_at,
            u.updated_at,
            u.auth_id,
            guard_type,
            full_Address,
            u.phone_hash,
            memo,
            (CASE
                WHEN auth_id = '01' THEN 'ROLE_ADMIN'
                WHEN auth_id = '02' THEN 'ROLE_USER'
                WHEN auth_id = '03' THEN 'ROLE_LEADER'
                ELSE 'X'
            END) AS auth,
            f.file_path file_path
        FROM 
            user u 
        LEFT OUTER JOIN 
            user_address ua
        ON u.id = ua.user_id
		and ua.is_deleted ='N'
        LEFT OUTER JOIN
            files f
        ON u.id = f.target_id
        AND target_type = 'profile'
		and f.is_deleted ='N'
        WHERE u.id = #{id}
    </select>

    <insert id="join">
        INSERT INTO user( id, name, email, password, phone, phone_hash)
        VALUES ( #{id}, #{name}, #{email}, #{password}, #{phone}, #{phone_hash})
    </insert>

    <!-- 회원 권한 등록 -->
    <insert id="insertAuth">
        INSERT INTO user_auth( id, name, auth_cd, auth )
        VALUES ( #{id}, #{name}, #{authCd}, #{auth})
    </insert>

    <update id="mypageUpdate">
        update user set 
            nickname = #{nickname},
            email = #{email},
            phone = #{phone},
            bank = #{bank},
            account_Number = #{accountNumber},
            depositor = #{depositor},
            updated_at = now()
        where id= #{id}
    </update>
</mapper>