<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{fragments/csrfFragments :: metaCsrf}"></th:block>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Document</title>
</head>
<body>
    <div class="admin-container">
        <div th:replace="~{fragments/sidebar :: sidebarFragment}"></div>
        <div class="main-content">
            <h1><a th:href="@{/user01}">유저 목록</a></h1>
            <form class="optionForm" th:action="@{/user01}" method="get" id="form">
                <th:block th:replace="~{fragments/csrfFragments :: inputCsrf}"></th:block>
                <select name="code">
                    <option value="0" th:selected="${option.code==0}">전체</option>
                    <option value="1" th:selected="${option.code==1}">아이디</option>
                    <option value="2" th:selected="${option.code==2}">이름</option>
                    <option value="3" th:selected="${option.code==3}">이메일</option>
                    <option value="4" th:selected="${option.code==4}">닉네임</option>
                    <option value="5" th:selected="${option.code==5}">휴대폰번호</option>
                    <option value="6" th:selected="${option.code==6}">역할</option>
                    <option value="4" th:selected="${option.code==4}">추천인</option>
                    <option value="7" th:selected="${option.code==7}">정지유무</option>
                </select>
                <select name="orderCode" id="order-code">
                    <option value="0" th:selected="${option.orderCode == 0}">최신순</option>
                    <option value="1" th:selected="${option.orderCode == 1}">포인트순</option>
                    <option value="2" th:selected="${option.orderCode == 2}">추천인</option>
                    <option value="2" th:selected="${option.orderCode == 3}">역할</option>
                </select>
                <input type="text" name="keyword" placeholder="검색어를 입력해 주세요." th:value="${param.keyword}">
                <input class="optionSubmit" type="submit" value="검색">
                
            </form>
            <table border="1">
                <thead>
                    <th class="wdt5">No</th>
                    <th class="wdt10">아이디</th>
                    <th class="wdt10">이름</th>
                    <th class="wdt15">이메일</th>
                    <th class="wdt10">추천인</th>
                    <th class="wdt10">휴대폰번호</th>
                    <th class="wdt5">포인트</th>
                    <!-- <th class="wdt15">주소</th> -->
                    <th class="wdt10">역할</th>
                    <th class="wdt5">정지</th>
                </thead>
                <tbody>
                    <th:block th:if="${userList.isEmpty()}">
                        <tr>
                            <td colspan="5" align="center">조회된 데이터가 없습니다.</td>
                        </tr>
                    </th:block>
                    <th:block th:each="user, stat: ${userList}">
                        <tr th:onclick="|location.href='@{/user02(id=${user.id})}'|">
                            <td><span th:text="${stat.size - stat.index}"></span></td>
                            <td><span th:text="${user.userId}"></span></td>
                            <td><span th:text="${user.userNm}"></span></td>
                            <td><span th:text="${user.email}"></span></td>
                            <td><span th:text="${user.referrerId}"></span></td>
                            <td><span th:text="${user.phoneNum}"></span></td>
                            <td><span th:text="${user.pointId}"></span></td>
                            <!-- <td>
                                <span th:if="${user.fullAddress != null}" th:text="${user.fullAddress}"></span>
                                <span th:if="${user.fullAddress == null}">- 주소 없음 -</span>
                            </td> -->

                            
                            <!-- <td><span th:text="${userAdressList.fullAddress}"></span></td> -->
                            <td><span th:text="${user.guardTypeNm}"></span></td>
                            <td><span th:text="${user.isStopped}"></span></td>
                            <!-- <td><button type="button" class="" onclick="leaderUpdate()">인솔자 변경</button></td> -->

                        </tr>
                    </th:block>
                </tbody>
            </table>
            <div class="parent">
                <div class="child">
                <a th:href="@{${pageUrl} + '&page=' + ${page.first}}">[처음]</a>
                <th:block th:if="${page.page != page.first }">
                    <a th:href="@{${pageUrl} + '&page=' + ${page.prev}}">[이전]</a>
                </th:block>
                <th:block th:each="no : ${#numbers.sequence(page.start, page.end)}">
                    <th:block th:if="${page.page == no}">
                        <b><span th:text="${no}"></span></b>
                    </th:block>
                    <th:block th:if="${page.page != no}">
                        <a th:href="@{${pageUrl} + '&page='+${no}}" th:text="${no}"></a>
                    </th:block>
                </th:block>
                <th:block th:if="${page.page != page.last }">
                    <a th:href="@{${pageUrl} + '&page=' + ${page.next}}">[다음]</a>
                </th:block>
                <a th:href="@{${pageUrl} + '&page=' + ${page.last}}">[마지막]</a>
            </div>
            </div>
            <a th:href="@{/campaign03}" class="insert">등록</a>
        </div>
    </div>
    <div th:replace="fragments/footer :: mainFooter"></div>

    <script th:src="@{/js/common.js}"></script>
    <script th:inline="javascript">
        function leaderUpdate(){
            
            console.log("aa");
            console.log("${userList[0].createdAt}");
            if(!confirm('이 사용자를 인솔자로 변경하시겠습니까?')){
                return;
            }
            const form = document.querySelector('form');

            form.action = '/admin/user05'; // action 속성 변경
            form.submit(); // 요청 전송
        }

        function leaderUpdate(){
            if(!confirm('변경하시겠습니까?')){ return; }

            const formData = new FormData(document.getElementById('form'));

            fetch('/admin/user05', {
                method: 'POST',
                body: formData // 폼 데이터를 그대로 실어 보냄
            })
            .then(response => {
                if(response.ok) {
                    alert("변경되었습니다.");
                    location.reload(); // 성공 후 새로고침
                } else {
                    alert("에러가 발생했습니다.");
                }
            });
        }

    </script>
</body>
</html>