<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.safeg.admin.mapper.CampaignMapper">
    <resultMap id="campaignResultMap" type="com.safeg.admin.vo.CampaignVO">
        <!-- 다른 컬럼 매핑 -->
        <result column="App_period_str" property="AppPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="App_period_end" property="AppPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_str" property="eventPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_end" property="eventPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="result_date" property="resultDate"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result property="leaderPhone" column="leader_Phone"
                typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
        <!-- ... 다른 컬럼 매핑 -->
    </resultMap>
    <resultMap id="userMap" type="com.safeg.admin.vo.UserVO">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="userNm" column="user_nm" />
        <result property="phoneNum" column="phone_num"
                typeHandler="com.safeg.admin.util.CryptoTypeHandler" />
    </resultMap>
    <resultMap type="com.safeg.admin.vo.CampaignVO" id="closedCampaignMap">
        <id property="campaignId" column="campaign_Id" />
        <result property="placeAddr" column="place_addr" />
        <result property="campaignTitle" column="campaign_title" />
        <result property="companyPh" column="company_ph" />
        <result property="createdAt" column="created_at" />
        <result property="typeCode" column="type_code" />
        <result property="applicantsNum" column="applicants_Num" />
        <result property="recruitmentNum" column="recruitment_Num" />
        <result property="userNm" column="user_nm" />
        <result column="App_period_str" property="AppPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="App_period_end" property="AppPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_str" property="eventPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_end" property="eventPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="result_date" property="resultDate"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result property="leaderPhone" column="leader_Phone"
                typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
    </resultMap>

    <resultMap id="campaignDetailMap" type="CampaignVO">
        <id property="campaignId" column="campaign_id" />

        <result property="companyNm" column="company_Nm" />
        <result property="companyPh" column="company_Ph"
            typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
        <result property="campaignTitle" column="campaign_Title" />
        <result property="recruitmentNum" column="recruitment_Num" />
        <result property="applicantsNum" column="applicants_Num" />
        <result property="campaignPay" column="campaign_pay" />
        <result property="timeSegment" column="time_segment" />
        <result property="workHour" column="work_hour" />
        <result property="placeAddr" column="place_Addr" />
        <result property="mission" column="mission" />
        <result property="typeCode" column="type_code" />
        <result property="typeNm" column="type_nm" />
        <result property="leaderCode" column="leader_code" />
        <result property="appPeriodStr" column="app_period_str" />
        <result property="appPeriodEnd" column="app_period_end" />
        <result property="eventPeriodStr" column="event_period_str" />
        <result property="eventPeriodEnd" column="event_period_end" />
        <result property="resultDate" column="result_date" />

        <collection property="leaderList" ofType="CampLeaderVO">
            <result property="leaderNm" column="user_nm" />
            <result property="leaderPh" column="phone_Num"
                typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
            <result property="leaderId" column="user_id" />
            <result property="leaderNo" column="user_no" />
            <result property="leaderPay" column="leader_pay" />
            <result property="leaderPoint" column="leader_point" />
        </collection>
    </resultMap>
    <!-- 목록 -->
    <select id="campaignList" resultType="CampaignVO">
        select c.campaign_Id,
            place_addr,
            campaign_title,
            DATE_FORMAT(c.created_at, '%Y.%m.%d') created_at,
            event_Period_str,
            event_Period_end,
            type_code,
            applicants_Num,
            recruitment_Num,
            c.time_segment,
            GROUP_CONCAT(distinct u.user_nm SEPARATOR ', ') as user_Nm,
                -- 2. 급여들만 슬래시(/)나 쉼표로 묶기
                GROUP_CONCAT(FORMAT(cl.leader_pay, 0) SEPARATOR ' / ') as leader_pays
            <!-- GROUP_CONCAT(u.user_nm SEPARATOR ', ') as user_Nm -->
        from campaign c
        left outer join camp_leader cl
        on c.campaign_id = cl.campaign_id
        left outer join user u
        on cl.user_no = u.id
        where
        <if test="option.code == 0">
            (campaign_title like CONCAT('%', #{option.keyword}, '%')
            or place_addr like CONCAT('%', #{option.keyword}, '%'))
        </if>
        <if test="option.code == 1">
            campaign_title like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 2">
            place_addr like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 3">
            tl.user_nm LIKE CONCAT('%', #{option.keyword}, '%')
        </if>
        and c.is_deleted = 'N'
        GROUP BY c.campaign_Id,
        c.place_addr,
        c.campaign_title,
        c.created_at,
        c.event_Period_str,
        c.event_Period_end,
        c.type_code,
        c.applicants_Num,
        c.recruitment_Num,
        c.time_segment
        <if test="option.orderCode == 0">
            order by campaign_Id desc
        </if>
        <if test="option.orderCode == 1">
            order by campaign_title asc, campaign_id desc
        </if>
        LIMIT #{page.index}, #{page.rows}
    </select>

    <select id="campaignCount" resultType="int">
        SELECT COUNT(*)
        FROM campaign c
        WHERE is_deleted = 'N'
        <if test="option.keyword != null and option.keyword != ''">
            <choose>
                <when test="option.code == 0">
                    AND (
                        campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                        OR status_code LIKE CONCAT('%', #{option.keyword}, '%')
                        OR leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                    )
                </when>
                <when test="option.code == 1">
                    AND campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 2">
                    AND status_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 3">
                    AND leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="leaderList" resultMap="userMap">
        SELECT
            id,
            user_id,
            user_nm,
            phone_num
        FROM
            user
        WHERE role = 'LEADER';
<!--
        Select cl.no, cl.user_id, cl.user_no, u.phone_num u.user_nm
        FROM camp_leader cl
        LEFT OUTER JOIN user u
        ON cl.user_no = u.id
        WHERE role = 'LEADER' AND cl.is_deleted = 'N'
        and cl.campaign_id = #{campaignId} -->
    </select>

    <select id="securityType" resultType="CampaignVO">
        SELECT *
        FROM
            common_codes
        WHERE
            code_group = 'campaignType'
    </select>

    <!-- 등록 -->

    <!-- 캠페인 유형 목록 -->
    <!-- <select id="campaignTypesList" resultType="CampaignTypesVO">
        SELECT id, name FROM campaign_Types;
    </select> -->

    <insert id="campaignInsert" parameterType="CampaignVO" useGeneratedKeys="true" keyProperty="campaignId">
        INSERT INTO campaign (
            company_nm,
            company_ph,
            campaign_title,
            <!-- leader_Code, -->
            type_code,
            status_code,
            recruitment_num,
            applicants_Num,
            <!-- leader_pay, -->
            campaign_pay,
            time_segment,
            work_hour,
            wage_chk,
            <!-- leader_point, -->
            place_addr,
            mission,
            App_period_str,
            App_period_end,
            event_Period_str,
            event_Period_end,
            result_date
        )
        VALUES (
            #{companyNm},
            #{companyPh, typeHandler=com.safeg.admin.util.CryptoTypeHandler},
            #{campaignTitle},
            <!-- #{leaderNo}, -->
            #{typeCode},
            '4',
            #{recruitmentNum},
            #{applicantsNum},<!-- CASE WHEN #{leaderPay} != 0 THEN 1 ELSE 0 END,
            #{leaderPay}, -->
            #{campaignPay},
            #{timeSegment},
            #{workHour},
            #{wageChk},
            <!-- #{leaderPoint}, -->
            #{placeAddr},
            #{mission},
            #{appPeriodStr},
            #{appPeriodEnd},
            #{eventPeriodStr},
            #{eventPeriodEnd},
            #{resultDate}
        );
    </insert>

    <insert id="campLeaderInsert" parameterType="CampLeaderVO" useGeneratedKeys="true" keyProperty="no">
    -- campLeaderInsert 호출됨. leaderList: CampLeaderVO(no=null, campaignId=160, leaderId=pringles, leaderNo=27, leaderNm=3, leaderPhone=01045558079, leaderPay=9000, leaderPays=null, leaderPoint=900, leaderCode=)
        INSERT INTO camp_leader (
            campaign_id,
            user_No,
            user_id,
            user_nm,
            phone_num,
            leader_pay,
            leader_point,
            apply_date
        )
        VALUES
        /* 자바에서 List를 바로 넘겼을 때는 collection="list"로 고정합니다 */
        (
            #{campaignId},
            #{leaderNo},
            #{leaderId},
            #{leaderNm},
            #{leaderPh, typeHandler=com.safeg.admin.util.CryptoTypeHandler},
            #{leaderPay},
            #{leaderPoint},
            #{applyDate}
        )
    </insert>

    <select id="campaignSelect" resultMap="campaignDetailMap">
        SELECT
            c.campaign_id,
            c.company_nm,
            c.company_ph,
            c.campaign_title,
            c.leader_code,
            c.type_code,
            c.status_code,
            c.recruitment_num,
            c.applicants_num,
            <!-- c.leader_Pay, -->
            c.campaign_pay,
            c.time_segment,
            c.place_addr,
            <!-- c.leader_point, -->
            work_hour,
            WAGE_CHK,
            DATE_FORMAT(c.App_period_str,'%Y-%m-%d') AS App_period_str,
            DATE_FORMAT(c.App_period_end,'%Y-%m-%d') AS App_period_end,
            DATE_FORMAT(c.event_Period_str,'%Y-%m-%d') AS event_Period_str,
            DATE_FORMAT(c.event_Period_end,'%Y-%m-%d') AS event_Period_end,
            DATE_FORMAT(c.result_date,'%Y-%m-%d') AS result_date,
            c.mission,
            cl.user_no,
            cl.user_id,
            cl.user_Nm,
            cl.phone_num,
            cl.leader_pay,
            cl.leader_point,
            cl.phone_num,
            cc.code_name
        FROM campaign c
        LEFT OUTER JOIN camp_leader cl
        on c.campaign_id = cl.campaign_id
        AND cl.is_deleted = 'N'
        left outer join common_codes cc
        on cc.code_group = 'campaignType'
        and c.type_code = cc.code
        WHERE c.campaign_id = #{id}
        AND c.is_deleted = 'N'
        <!-- GROUP BY
            c.campaign_id,
            c.company_nm,
            c.company_ph,
            c.campaign_title,
            c.leader_code,
            c.type_code,
            c.status_code,
            c.recruitment_num,
            c.applicants_num,
            c.leader_Pay,
            c.campaign_pay,
            c.time_segment,
            c.place_addr,
            c.leader_point,
            work_hour,
            WAGE_CHK,
            App_period_str,
            App_period_end,
            event_Period_str,
            event_Period_end,
            result_date,
            c.mission,
            cc.code_name -->
    </select>

    <update id="campaignUpdate" parameterType="CampaignVO" useGeneratedKeys="true" keyProperty="campaignId">
        <!-- update campaign c JOIN campaign_schedule s
            ON c.id = s.id set
            c.business_name = #{businessName},
            c.category = #{category},
            c.description = #{description},
            c.address = #{address},
            c.main_phone = #{mainPhone},
            c.channel = #{channel},
            c.point = #{point},
            c.title = #{title},
            s.application_Date_Start = #{applicationDateStart},
            s.application_Date_End = #{applicationDateEnd},
            s.contents_Date_Start = #{contentsDateStart},
            s.contents_Date_End = #{contentsDateEnd},
            c.white_Salary = #{whiteSalary},
            c.yellow_Salary = #{yellowSalary},
            c.orange_Salary = #{orangeSalary},
            c.green_Salary = #{greenSalary},
            c.red_Salary = #{redSalary}
        where
        c.id = #{id} -->
        update campaign set
            company_nm = #{companyNm},
            company_ph = #{companyPh, typeHandler=com.safeg.admin.util.CryptoTypeHandler},
            campaign_title = #{campaignTitle},
            <!-- leader_Code = #{leaderNo}, -->
            type_code = #{typeCode},
            status_code = #{statusCode},
            recruitment_num = #{recruitmentNum},
            leader_pay = #{leaderPay},
            campaign_pay = #{campaignPay},
            time_segment = #{timeSegment},
            work_hour = #{workHour},
            wage_chk = #{wageChk},
            place_addr = #{placeAddr},
            mission = #{mission},
            App_period_str = #{appPeriodStr},
            App_period_end = #{appPeriodEnd},
            event_Period_str = #{eventPeriodStr},
            event_Period_end = #{eventPeriodEnd},
            result_date = #{resultDate},
            leader_point = #{leaderPoint},
            updated_at = CURRENT_TIMESTAMP
        where
        campaign_id = #{campaignId};
    </update>

    <update id="leaderUpdate">
        UPDATE
            user_campaign
        SET
            user_no = #{leaderNo},
            user_id = #{leaderId} -- 새로운 인솔자 ID로 덮어쓰기
        WHERE
            campaign_id = #{campaignId}
        AND
            user_no = #{oldLeaderNo}
        AND
            is_leader = 'Y'
        AND
            is_deleted = 'N'

    </update>

    <update id="updateIsDeleted">
        UPDATE
            campaign
        SET
            is_deleted = #{isDeleted},
            is_active = #{isActive}
        WHERE
            campaign_id = #{campaignId}
    </update>

    <update id="updateUcIsDeleted">
        UPDATE user_campaign
        SET is_deleted = 'Y'
        WHERE campaign_id = #{campaignId}
        AND is_deleted = 'N'
        AND is_leader = 'N'
        AND user_id IN (
            -- 🔥 늦게 신청한 유저들의 ID만 쏙 골라내기
            SELECT t.user_id FROM (
                SELECT user_id
                FROM user_campaign
                WHERE campaign_id = #{campaignId}
                    AND is_deleted = 'N'
                    AND is_leader = 'N'
                GROUP BY user_id -- 유저별로 그룹을 묶어서 (인당 1개씩만 나오게)
                ORDER BY MAX(created_at) DESC -- 가장 최근(늦게) 신청한 사람 순서대로!
                LIMIT #{exceedCount} -- 💡 자바에서 넘어온 '초과된 사람 수'만큼 커트
            ) t
        )
    </update>

    <update id="updateApplicantsNum">
        UPDATE campaign c
        JOIN (
            -- 💡 여기서 미리 캠페인별 인원수를 정확하게 계산해 둡니다.
            SELECT
                c.campaign_id,
                COUNT(DISTINCT uc.user_no) + COUNT(DISTINCT cl.user_no) AS cnt
            FROM campaign c
            LEFT OUTER JOIN user_campaign uc
                ON c.campaign_id = uc.campaign_id
            AND uc.is_deleted = 'N'
            LEFT OUTER JOIN camp_leader cl
                ON c.campaign_id = cl.campaign_id
            AND cl.is_deleted = 'N'
			WHERE c.campaign_id = #{campaignId}
			GROUP BY c.campaign_id
        ) t
        ON c.campaign_id = t.campaign_id
        SET c.applicants_num = t.cnt
        WHERE c.campaign_id = #{campaignId};
    </update>

    <select id="applySelect" resultType="UserCampaignVO">
        SELECT
            COALESCE(uc.user_id, cl.user_id) AS user_id,
            COALESCE(uc.user_no, cl.user_no) AS user_no,
            c.recruitment_num,
            c.applicants_num,
            c.app_period_end,
            c.EVENT_PERIOD_STR,
            c.EVENT_PERIOD_END
        FROM campaign c
        LEFT OUTER JOIN user_campaign uc
        ON c.campaign_id = uc.campaign_id
        AND uc.is_deleted = 'N'
        LEFT OUTER JOIN camp_leader cl
        ON c.campaign_id = cl.campaign_id
        AND cl.is_deleted = 'N'
        WHERE c.campaign_id = #{campaignId}
        Limit 1
    </select>

    <update id="campaignDelete">
        update campaign set
            is_deleted = 'Y',
            updated_at = NOW()
        where
        campaign_id = #{id}
    </update>


    <update id="applyDelete">
        update user_campaign set
            is_deleted = 'Y',
            status = '0',
            apply_date = NULL,
            updated_at = NOW()
        where
        campaign_id = #{id}
    </update>

    <select id="campaign07" resultType="CampaignVO">
        select c.campaign_Id,
            place_addr,
            campaign_title,
            DATE_FORMAT(created_at, '%Y.%m.%d') created_at,
            applicants_Num,
            recruitment_Num
        from campaign c
        where
        <if test="option.code == 0">
            (campaign_title like CONCAT('%', #{option.keyword}, '%')
            or status_code like CONCAT('%', #{option.keyword}, '%')
            or leader_code like CONCAT('%', #{option.keyword}, '%'))
        </if>
        <if test="option.code == 1">
            campaign_title like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 2">
            status_name like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 3">
            leader_code like CONCAT('%', #{option.keyword}, '%')
        </if>
        and is_deleted = 'N'
        and applicants_num = 0
        <if test="option.orderCode == 0">
            order by campaign_Id desc
        </if>
        <if test="option.orderCode == 1">
            order by campaign_title asc, id desc
        </if>
        LIMIT #{page.index}, #{page.rows}
    </select>

    <select id="campNotApplyCount" resultType="int">
        SELECT COUNT(*)
        FROM campaign c
        WHERE is_deleted = 'N'
        AND applicants_num = 0
        <if test="option.keyword != null and option.keyword != ''">
            <choose>
                <when test="option.code == 0">
                    AND (
                        campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                        OR status_code LIKE CONCAT('%', #{option.keyword}, '%')
                        OR leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                    )
                </when>
                <when test="option.code == 1">
                    AND campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 2">
                    AND status_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 3">
                    AND leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <update id="updateExpiredCampaignsStatus">
        <![CDATA[
            UPDATE campaign
            SET
                is_active = 'N',
                updated_at = NOW()
            WHERE
                result_date < CURDATE()
            AND is_active = 'Y'
        ]]>
    </update>

    <insert id="insertCampaignLeaderApply" parameterType="java.util.List">
        INSERT INTO user_campaign(
            campaign_id,
            user_No,
            user_id,
            lead_Apply,
            applied_str_date,
            applied_end_date,
            event_str_date,
            event_end_date,
            time_segment,
            apply_date,
            status,
            is_leader
        ) values
        <foreach collection="dailyEntries" item="entry" separator=",">
        (
            #{entry.campaignId},
            #{entry.userNo},
            #{entry.userId},
            #{entry.leadApply},
            #{entry.appliedStrDate},
            #{entry.appliedEndDate},
            #{entry.eventPeriodStr},
            #{entry.eventPeriodEnd},
            #{entry.timeSegment},
            #{entry.applyDate},
            '8',
            'Y'
        )
        </foreach>
    </insert>

    <select id="closedCampaign" resultMap="closedCampaignMap">
        SELECT
            c.campaign_Id,
            place_addr,
            campaign_title,
            company_ph,
            DATE_FORMAT(c.created_at, '%Y.%m.%d') created_at,
            type_code,
            (CASE
                WHEN type_code = '01' THEN '경호'
                WHEN type_code = '02' THEN '진행'
                WHEN type_code = '03' THEN '수행'
                ELSE ''
            END) as type_nm,
            applicants_Num,
            recruitment_Num,
            result_date,
            u.user_nm,
            c.app_period_str,
            c.app_period_end,
            c.event_Period_str,
            c.event_Period_End,
            u.phone_num leader_Phone
        FROM campaign c
        LEFT OUTER JOIN user u
        ON c.leader_code = u.id
        where
        c.is_deleted = 'N'
        AND c.is_active = 'N'
        order by campaign_Id desc
    </select>






    <update id="reApplyLeader" parameterType="UserCampaignVO">
        UPDATE camp_leader
        SET is_deleted = 'N',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{applyDate}
            AND is_deleted = 'Y'
            AND user_no IN
        <foreach collection="userNos" item="userNo" open="(" separator="," close=")">
            #{userNo}
        </foreach>
    </update>

    <select id="targetUserNos" resultType="Long">
        SELECT combined.user_no
        FROM (
            SELECT user_no, created_at
            FROM user_campaign
            WHERE campaign_id = #{campaignId}
                AND is_deleted = 'Y'
                AND time_segment = #{timeSegment}
                <if test="sourceDate != null">
                    AND apply_date = #{sourceDate}
                </if>
        ) combined
        ORDER BY created_at ASC
        <if test="vacantSeats != null and vacantSeats &gt; 0">
            LIMIT #{vacantSeats}
        </if>
    </select>

    <select id="targetLeaderNos" resultType="Long">
        SELECT combined.user_no
        FROM (
            SELECT user_no, created_at
            FROM camp_leader
            WHERE campaign_id = #{campaignId}
                AND is_deleted = 'Y'
                <if test="sourceDate != null">
                    AND apply_date = #{sourceDate}
                </if>
        ) combined
        ORDER BY created_at ASC
    </select>





    <insert id="copyApplyDate">
        INSERT INTO user_campaign (
            campaign_id,
            user_no,
            user_id,
            apply_date,
            time_segment
            event_str_date,
            event_end_date,
            status,
            is_leader,
            lead_apply,
            created_at,
            updated_at,
            is_deleted)
        SELECT
            campaign_id,
            user_No,
            user_id,
            #{timeSegment},
            #{targetDate}, -- 새로 생성될 날짜
            #{newStrDate},
            #{newEndDate},
            #{status}, -- 상태는 매개변수로 전달받음 (예: '0' 또는 '8')
            #{isLeader}, -- 리더 여부도 매개변수로 전달받음 (예: 'Y' 또는 'N')
            #{leadApply},
            now(),
            now(),
            'N'
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{sourceDate} -- 복사 대상이 되는 원본 날짜
            AND is_deleted = 'N'
        Limit 1
    </insert>

    <insert id="copyApplyDateInc">
        INSERT INTO user_campaign (
            campaign_id,
            user_no,
            user_id,
            time_segment,
            apply_date,
            event_str_date,
            event_end_date,
            status,
            is_leader,
            lead_apply,
            created_at,
            updated_at,
            is_deleted
        )
        SELECT
            campaign_id,
            user_No,
            user_id,
            #{timeSegment},
            #{applyDate}, -- 새로 생성될 날짜
            #{eventPeriodStr},
            #{eventPeriodEnd},
            #{status}, -- 상태는 매개변수로 전달받음 (예: '0' 또는 '8')
            #{isLeader}, -- 리더 여부도 매개변수로 전달받음 (예: 'Y' 또는 'N')
            #{leadApply},
            now(),
            now(),
            'N'
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{beforeDate} -- 복사 대상이 되는 원본 날짜
            AND user_no = #{userNo}
            AND is_deleted = 'N'

            AND NOT EXISTS (
                SELECT 1
                FROM user_campaign uc_dup
                WHERE uc_dup.campaign_id = #{campaignId}
                    AND uc_dup.apply_date = #{applyDate}
                    AND uc_dup.user_no = #{userNo}
            )
        -- Limit 1
    </insert>

    <select id="overlapTitle" resultType="UserCampaignVO">
        <![CDATA[
            SELECT
                c.campaign_title,
                u.user_nm
            FROM user_campaign uc
            LEFT OUTER JOIN campaign c ON uc.campaign_id = c.campaign_id
            LEFT OUTER JOIN user u ON uc.user_id = u.user_id
            WHERE uc.user_no = #{userNo}
            AND uc.is_leader = 'N'
            AND uc.is_deleted = 'N'
            -- 1. 날짜 기간이 겹치는지 확인
            AND (
                uc.event_str_date <= #{dto.eventPeriodEnd}
                AND uc.event_end_date >= #{dto.eventPeriodStr}
            )
            -- 2. 🔥 [추가] 시간대(주야간)까지 겹치는지 확인
            AND c.time_segment = #{dto.timeSegment}
            LIMIT 1
        ]]>
    </select>

    <insert id="userApply">
        INSERT INTO user_campaign (
            campaign_id,
            user_No,
            user_id,
            applied_str_date,
            applied_end_date,
            event_str_date,
            event_end_date,
            time_segment,
            apply_date
        ) VALUES
        <foreach collection="insertList" item="item" separator=",">
            (
                #{campaignId},
                #{item.userNo},    #{item.userId},    #{eventPeriodStr},
                #{eventPeriodEnd},
                #{eventPeriodStr},
                #{eventPeriodEnd},
                #{timeSegment},
                #{item.applyDate}  )
        </foreach>
    </insert>

    <insert id="userAddApply">
        INSERT INTO user_campaign (
            campaign_id,
            user_No,
            user_id,
            applied_str_date,
            applied_end_date,
            event_str_date,
            event_end_date,
            time_segment,
            apply_date
        ) VALUES
        <foreach collection="insertList" item="item" separator=",">
            (
                #{campaignId},
                #{item.userNo},
                #{item.userId},
                #{eventPeriodStr},
                #{eventPeriodEnd},
                #{eventPeriodStr},
                #{eventPeriodEnd},
                #{timeSegment},
                #{item.applyDate}  )
        </foreach>
    </insert>

    <update id="userCancel">
        UPDATE
            user_campaign
        SET
            is_deleted = 'Y'
        WHERE
            campaign_id = #{campaignId}
        AND
            time_segment = #{timeSegment}
        AND (
            <foreach collection="userNoList" item="userNo" index="i" separator="OR">

                    user_no = #{userNo}
                    AND apply_date IN
                    <foreach collection="datesInRange" item="date" open="(" close=")" separator=",">
                        #{date}
                    </foreach>

            </foreach>
        )
    </update>

    <select id="countApplicants" resultType="int">
        <!-- SELECT count(DISTINCT (user_id)) count
        FROM user_campaign uc
        WHERE uc.campaign_id = #{campaignId}
            AND uc.is_deleted = 'N'
            AND (uc.lead_apply = 'Y' OR uc.lead_apply IS NULL)
            AND is_deleted = 'N'
        GROUP BY uc.CAMPAIGN_ID  -->

        SELECT COUNT(DISTINCT uc.user_id) as count
        FROM user_campaign uc
        WHERE uc.campaign_id = 138
        AND uc.is_deleted = 'N'
        -- 💡 NULL이거나 Y인 유저들을 빠짐없이 전부 집계 대상에 넣습니다.
        AND (uc.lead_apply = 'Y' OR uc.lead_apply IS NULL);
    </select>

    <update id="updateIsActive">
        UPDATE campaign
        SET is_active = #{isActive}
        WHERE campaign_id = #{campaignId}
    </update>



    <!-- 1. 기존 인솔자 목록 조회 -->
    <select id="campaignLeader" resultType="CampLeaderVO">
        SELECT *
        FROM camp_leader
        WHERE campaign_id = #{campaignId}
        AND is_deleted = 'N'
    </select>

    <update id="deleteLeader">
        UPDATE camp_leader
        SET is_deleted = 'Y',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND user_no = #{userNo}
    </update>

    <insert id="insertLeader">
        INSERT INTO camp_leader (
            campaign_id, user_id, user_no, user_nm, phone_num, leader_pay, leader_point, apply_date
        ) VALUES (
            #{campaignId}, #{leaderId}, #{leaderNo}, #{leaderNm}, #{leaderPh, typeHandler=com.safeg.admin.util.CryptoTypeHandler}, #{leaderPay}, #{leaderPoint}, #{applyDate}
        )
    </insert>

    <!-- 3. 단건 UPDATE (변경된 기존 인솔자) -->
    <update id="updateLeader">
        UPDATE camp_leader
        SET user_nm = #{leaderNm},
            phone_num = #{leaderPh, typeHandler=com.safeg.admin.util.CryptoTypeHandler},
            leader_pay = #{leaderPay},
            leader_point = #{leaderPoint}
        WHERE campaign_id = #{campaignId}
        AND user_no = #{leaderNo}
        AND apply_date  = #{applyDate}  <!-- ★ 특정 날짜 행만 업데이트 -->
    </update>

    <update id="updateCampaignDate">
        UPDATE campaign
        SET
            App_period_str = #{appPeriodStr},
            App_period_end = #{appPeriodEnd},
            event_Period_str = #{eventPeriodStr},
            event_Period_end = #{eventPeriodEnd},
            result_date = #{resultDate},
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
    </update>

    <!-- <update id="updateApplyDate">
        UPDATE user_campaign uc
        INNER JOIN camp_leader cl ON uc.campaign_id = cl.campaign_id
        SET uc.apply_date = #{applyDate},
            uc.event_period_end = #{eventPeriodEnd},
            uc.updated_at       = NOW(),
            cl.leader_pay       = #{leaderPay},
            cl.leader_point     = #{leaderPoint},
            cl.user_nm          = #{leaderNm},
            cl.phone_num        = #{leaderPh}
        WHERE uc.campaign_id = #{campaignId}
        AND (cl.user_no = #{leaderNo} OR cl.user_id = #{leaderId})
    </update> -->

    <insert id="upsertLeaders" parameterType="java.util.List">
        INSERT INTO camp_leader (
            campaign_id,
            user_no,
            user_id,
            user_nm,
            user_phone,
            leader_pay,
            leader_point,
            apply_date,
            is_deleted
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.campaignId},
                #{item.userNo},
                #{item.userId},
                #{item.userNm},
                #{item.userPhone},
                #{item.leaderPay},
                #{item.leaderPoint},
                #{item.applyDate}, 'N'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
            leader_pay = VALUES(leader_pay),
            leader_point = VALUES(leader_point),
            is_deleted = 'N',
            updated_at = NOW()
    </insert>

    <insert id="upsertUserCampaign" parameterType="UserCampaignVO">
        INSERT INTO user_campaign (
            campaign_id,
            user_no,
            user_id,
            user_nm,
            time_segment,
            status,
            applied_str_date,
            applied_end_date,
            event_str_date,
            event_end_date,
            is_leader,
            late_yn
            apply_date,
            is_deleted
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.campaignId},
                #{item.userNo},
                #{item.userId},
                #{item.userNm},
                #{item.timeSegment},
                '0',
                #{item.appliedStrDate},
                #{item.appliedEndDate},
                #{item.eventStrDate},
                #{item.eventEndDate},
                'N',
                #{item.applyDate}, 'N'
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        is_deleted = 'N',
        updated_at = NOW()
    </insert>

    <update id="deleteRemovedLeaders">
        UPDATE camp_leader
        SET is_deleted = 'Y',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND is_deleted = 'N'
        AND (user_no, apply_date) NOT IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.userNo}, #{item.applyDate})
        </foreach>
    </update>

    <update id="deleteAllLeadersByCampaignId" parameterType="long">
        UPDATE camp_leader
        SET is_deleted = 'Y',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND is_deleted = 'N'
    </update>

    <select id="inquiryUser" resultType="Long">
        SELECT user_no
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
        AND user_no = #{userNo}
        AND time_segment = #{timeSegment}
        AND apply_date = #{applyDate}
    </select>

    <update id="updateUserDate" parameterType="CampaignVO">
        UPDATE user_campaign
        SET
            apply_date = #{newDate},
            applied_str_date = #{dto.appPeriodStr},
            applied_end_date = #{dto.appPeriodEnd},
            event_str_date = #{dto.eventPeriodStr},
            event_end_date = #{dto.eventPeriodEnd},
            updated_at = NOW()
        WHERE campaign_id = #{dto.campaignId}
        AND apply_date = #{oldDate}
        AND is_deleted = 'N'
    </update>

    <update id="updateLeaderDate" parameterType="CampaignVO">
        UPDATE camp_leader
        SET
            apply_date = #{newDate},
            updated_at = NOW()
        WHERE campaign_id = #{dto.campaignId}
        AND apply_date = #{oldDate}
        AND is_deleted = 'N'
    </update>

    <update id="deleteApplyDate">
        UPDATE user_campaign
        SET is_deleted = 'Y',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND apply_date = #{leftoverDate}
        AND is_deleted = 'N'
    </update>

    <update id="deleteApplyDateLeader">
        UPDATE camp_leader
        SET is_deleted = 'Y',
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND apply_date = #{leftoverDate}
        AND is_deleted = 'N'
    </update>

    <select id="getActiveUserNos" resultType="Long">
        SELECT user_no
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND time_segment = #{timeSegment}
            AND is_deleted = 'N'
        GROUP BY user_no
    </select>

    <select id="getActiveLeaderNos" resultType="Long">
        SELECT user_no
        FROM camp_leader
        WHERE campaign_id = #{campaignId}
            AND is_deleted = 'N'
        GROUP BY user_no
    </select>

    <update id="reApplyUser" parameterType="UserCampaignVO">
        UPDATE user_campaign
        SET is_deleted = 'N',
            updated_at = NOW(),
            applied_str_date = #{appliedStrDate},
            applied_end_date = #{appliedEndDate},
            event_str_date = #{eventPeriodStr},
            event_end_date = #{eventPeriodEnd}
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{applyDate}
            AND time_segment = #{timeSegment}
            AND is_deleted = 'Y'
            AND user_no IN
        <foreach collection="userNos" item="userNo" open="(" separator="," close=")">
            #{userNo}
        </foreach>
    </update>

    <select id="applyDateInfo" resultType="UserCampaignVO">
        SELECT apply_date FROM
        user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{applyDate}
            AND user_no = #{userNo}
            AND time_segment = #{timeSegment}
        group by apply_date
    </select>

    <select id="applyDateInfoLeader" resultType="UserCampaignVO">
        SELECT apply_date FROM
        user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{applyDate}
            AND user_no = #{userNo}
            AND time_segment = #{timeSegment}
        group by apply_date
    </select>

    <insert id="copyUser">
        INSERT INTO user_campaign (
            campaign_id,
            user_no,
            user_id,
            time_segment,
            apply_date,
            event_str_date,
            event_end_date,
            status,
            is_leader,
            lead_apply,
            created_at,
            updated_at,
            is_deleted
        )
        SELECT
            campaign_id,
            user_No,
            user_id,
            #{timeSegment},
            #{applyDate}, -- 새로 생성될 날짜
            #{eventPeriodStr},
            #{eventPeriodEnd},
            #{status}, -- 상태는 매개변수로 전달받음 (예: '0' 또는 '8')
            #{isLeader}, -- 리더 여부도 매개변수로 전달받음 (예: 'Y' 또는 'N')
            #{leadApply},
            now(),
            now(),
            'N'
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{beforeDate} -- 복사 대상이 되는 원본 날짜
            AND user_no = #{userNo}
            AND is_deleted = 'N'

            AND NOT EXISTS (
                SELECT 1
                FROM user_campaign uc_dup
                WHERE uc_dup.campaign_id = #{campaignId}
                    AND uc_dup.apply_date = #{applyDate}
                    AND uc_dup.user_no = #{userNo}
            )
    </insert>

    <insert id="copyLeader">
        INSERT INTO camp_leader (
            campaign_id,
            user_no,
            user_id,
            apply_date,
            status,
            created_at,
            updated_at,
            is_deleted
        )
        SELECT
            campaign_id,
            user_No,
            user_id,
            #{applyDate}, -- 새로 생성될 날짜
            #{status}, -- 상태는 매개변수로 전달받음 (예: '0' 또는 '8')
            now(),
            now(),
            'N'
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{beforeDate} -- 복사 대상이 되는 원본 날짜
            AND user_no = #{userNo}
            AND is_deleted = 'N'

            AND NOT EXISTS (
                SELECT 1
                FROM user_campaign uc_dup
                WHERE uc_dup.campaign_id = #{campaignId}
                    AND uc_dup.apply_date = #{applyDate}
                    AND uc_dup.user_no = #{userNo}
            )
    </insert>
</mapper>
