<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.safeg.admin.mapper.CampaignMapper">
    <resultMap id="campaignResultMap" type="com.safeg.admin.vo.CampaignVO">
        <!-- 다른 컬럼 매핑 -->
        <result column="App_period_str" property="AppPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="App_period_end" property="AppPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_str" property="eventPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_end" property="eventPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="result_date" property="resultDate"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result property="leaderPhone" column="leader_Phone" 
                typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
        <!-- ... 다른 컬럼 매핑 -->
    </resultMap>
    <resultMap id="userMap" type="com.safeg.admin.vo.UserVO">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="userNm" column="user_nm" />
        <result property="phoneNum" column="phone_num"
                typeHandler="com.safeg.admin.util.CryptoTypeHandler" />
    </resultMap>
    <resultMap type="com.safeg.admin.vo.CampaignVO" id="closedCampaignMap">
        <id property="campaignId" column="campaign_Id" />
        <result property="placeAddr" column="place_addr" />
        <result property="campaignTitle" column="campaign_title" />
        <result property="companyPh" column="company_ph" />
        <result property="createdAt" column="created_at" />
        <result property="typeCode" column="type_code" />
        <result property="applicantsNum" column="applicants_Num" />
        <result property="recruitmentNum" column="recruitment_Num" />
        <result property="userNm" column="user_nm" />
        <result column="App_period_str" property="AppPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="App_period_end" property="AppPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_str" property="eventPeriodStr"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="event_Period_end" property="eventPeriodEnd"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result column="result_date" property="resultDate"
                jdbcType="DATE" typeHandler="com.safeg.admin.config.LocalDateTypeHandler"/>
        <result property="leaderPhone" column="leader_Phone" 
                typeHandler="com.safeg.admin.util.CryptoTypeHandler"/>
    </resultMap>
    <!-- 목록 -->
    <select id="campaignList" resultType="CampaignVO">
        select c.campaign_Id,
            place_addr,
            campaign_title,
            DATE_FORMAT(c.created_at, '%Y.%m.%d') created_at,
            event_Period_str,
            event_Period_end,
            type_code,
            applicants_Num,
            recruitment_Num,
            time_segment,
            u.user_nm
        from campaign c
        left outer join user u
        on c.leader_code = u.id
        where 
        <if test="option.code == 0">
            (campaign_title like CONCAT('%', #{option.keyword}, '%')
            or place_addr like CONCAT('%', #{option.keyword}, '%'))
        </if>
        <if test="option.code == 1">
            campaign_title like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 2">
            place_addr like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 3">
            tl.user_nm LIKE CONCAT('%', #{option.keyword}, '%')
        </if>
        and c.is_deleted = 'N'
        <if test="option.orderCode == 0">
            order by campaign_Id desc
        </if>
        <if test="option.orderCode == 1">
            order by campaign_title asc, campaign_id desc
        </if>
    </select>

    <select id="campaignCount" resultType="int">
        SELECT COUNT(*) 
        FROM campaign c
        WHERE is_deleted = 'N'
        <if test="option.keyword != null and option.keyword != ''">
            <choose>
                <when test="option.code == 0">
                    AND (
                        campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                        OR status_code LIKE CONCAT('%', #{option.keyword}, '%')
                        OR leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                    )
                </when>
                <when test="option.code == 1">
                    AND campaign_title LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 2">
                    AND status_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
                <when test="option.code == 3">
                    AND leader_code LIKE CONCAT('%', #{option.keyword}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="leaderList" resultMap="userMap">
        SELECT
            id,
            user_id,
            user_nm,
            phone_num
        FROM
            user
        WHERE role = 'LEADER';
    </select>

    <select id="securityType" resultType="CampaignVO">
        SELECT * 
        FROM 
            common_codes 
        WHERE 
            code_group = 'campaignType'
    </select>

    <!-- 등록 -->

    <!-- 캠페인 유형 목록 -->
    <!-- <select id="campaignTypesList" resultType="CampaignTypesVO">
        SELECT id, name FROM campaign_Types;
    </select> -->

    <insert id="campaignInsert" parameterType="CampaignVO" useGeneratedKeys="true" keyProperty="campaignId">
        INSERT INTO campaign (
            company_nm,
            company_ph,
            campaign_title,
            leader_Code,
            type_code,
            status_code,
            recruitment_num,
            applicants_Num,
            leader_pay,
            campaign_pay,
            time_segment,
            work_hour,
            wage_chk,
            leader_point,
            place_addr,
            mission,
            App_period_str,
            App_period_end,
            event_Period_str,
            event_Period_end,
            result_date
        )
        VALUES (
            #{companyNm},
            #{companyPh},
            #{campaignTitle},
            #{leaderNo},
            #{typeCode},
            '4',
            #{recruitmentNum},
            CASE WHEN #{leaderPay} != 0 THEN 1 ELSE 0 END,
            #{leaderPay},
            #{campaignPay},
            #{timeSegment},
            #{workHour},
            #{wageChk},
            #{leaderPoint},
            #{placeAddr},
            #{mission},
            #{appPeriodStr},
            #{appPeriodEnd},
            #{eventPeriodStr},
            #{eventPeriodEnd},
            #{resultDate}
        );
        
    </insert>

    <select id="campaignSelect" resultMap="campaignResultMap">
        SELECT 
            c.campaign_id,
            c.company_nm,
            c.company_ph,
            c.campaign_title, 
            c.leader_code,
            c.type_code,
            c.status_code,
            c.recruitment_num,
            c.applicants_num,
            c.leader_Pay,
            c.campaign_pay,
            c.time_segment,
            c.place_addr,
            leader_point,
            work_hour,
            WAGE_CHK,
            DATE_FORMAT(c.App_period_str,'%Y-%m-%d') AS App_period_str,
            DATE_FORMAT(c.App_period_end,'%Y-%m-%d') AS App_period_end,
            DATE_FORMAT(c.event_Period_str,'%Y-%m-%d') AS event_Period_str,
            DATE_FORMAT(c.event_Period_end,'%Y-%m-%d') AS event_Period_end,
            DATE_FORMAT(c.result_date,'%Y-%m-%d') AS result_date,
            c.mission,
            u.User_nm as leader_Name,
            u.phone_num as leader_Phone,
            u.id as leader_No,
            cc.code_name
        FROM campaign c
        LEFT OUTER JOIN user u
        on c.leader_Code = u.id
        left outer join common_codes cc
        on cc.code_group = 'campaignType'
        and c.type_code = cc.code
        WHERE c.campaign_id = #{id}
        <!-- and c.status_code = '' -->
        AND c.is_deleted = 'N'
    </select>
    
    <update id="campaignUpdate" parameterType="CampaignVO" useGeneratedKeys="true" keyProperty="campaignId">
        <!-- update campaign c JOIN campaign_schedule s 
            ON c.id = s.id set 
            c.business_name = #{businessName},
            c.category = #{category},
            c.description = #{description},
            c.address = #{address},
            c.main_phone = #{mainPhone},
            c.channel = #{channel}, 
            c.point = #{point},
            c.title = #{title},
            s.application_Date_Start = #{applicationDateStart},
            s.application_Date_End = #{applicationDateEnd},
            s.contents_Date_Start = #{contentsDateStart},
            s.contents_Date_End = #{contentsDateEnd},
            c.white_Salary = #{whiteSalary},
            c.yellow_Salary = #{yellowSalary},
            c.orange_Salary = #{orangeSalary},
            c.green_Salary = #{greenSalary},
            c.red_Salary = #{redSalary}
        where 
        c.id = #{id} -->
        update campaign set
            company_nm = #{companyNm},
            company_ph = #{companyPh},
            campaign_title = #{campaignTitle},
            leader_Code = #{leaderNo},
            type_code = #{typeCode},
            status_code = #{statusCode},
            recruitment_num = #{recruitmentNum},
            leader_pay = #{leaderPay},
            campaign_pay = #{campaignPay},
            time_segment = #{timeSegment},
            work_hour = #{workHour},
            wage_chk = #{wageChk},
            place_addr = #{placeAddr},
            mission = #{mission},
            is_active = 'Y',
            App_period_str = #{appPeriodStr},
            App_period_end = #{appPeriodEnd},
            event_Period_str = #{eventPeriodStr},
            event_Period_end = #{eventPeriodEnd},
            result_date = #{resultDate},
            leader_point = #{leaderPoint},
            updated_at = CURRENT_TIMESTAMP
        where 
        campaign_id = #{campaignId};
    </update>

    <update id="leaderUpdate">
        UPDATE 
            user_campaign
        SET
            user_no = #{leaderNo},
            user_id = #{leaderId} -- 새로운 인솔자 ID로 덮어쓰기
        WHERE 
            campaign_id = #{campaignId}
        AND 
            user_no = #{oldLeaderNo}
        AND 
            is_leader = 'Y'
        AND 
            is_deleted = 'N'

    </update>

    <update id="updateIsDeleted">
        UPDATE
            campaign
        SET
            is_deleted = #{isDeleted},
            is_active = #{isActive}
        WHERE
            campaign_id = #{campaignId}
    </update>

    <update id="updateUcIsDeleted">
        UPDATE user_campaign
        SET is_deleted = 'Y'
        WHERE campaign_id = #{campaignId}
        AND is_deleted = 'N'
        AND is_leader = 'N'
        AND user_id IN (
            -- 🔥 늦게 신청한 유저들의 ID만 쏙 골라내기
            SELECT t.user_id FROM (
                SELECT user_id 
                FROM user_campaign
                WHERE campaign_id = #{campaignId}
                    AND is_deleted = 'N'
                    AND is_leader = 'N'
                GROUP BY user_id -- 유저별로 그룹을 묶어서 (인당 1개씩만 나오게)
                ORDER BY MAX(created_at) DESC -- 가장 최근(늦게) 신청한 사람 순서대로!
                LIMIT #{exceedCount} -- 💡 자바에서 넘어온 '초과된 사람 수'만큼 커트
            ) t
        )
    </update>

    <select id="applySelect" resultType="UserCampaignVO">
        select
            uc.is_leader,
            uc.user_id,
            uc.user_no,
            c.recruitment_num,
            c.applicants_num,
            uc.event_str_date,
            uc.event_end_date,
            c.EVENT_PERIOD_STR,
            c.EVENT_PERIOD_END,
            uc.applied_str_date,
            uc.applied_end_date
        from campaign c
        LEFT OUTER JOIN user_campaign uc
        ON c.campaign_id = uc.campaign_id
        and uc.is_deleted = 'N'
        where c.campaign_id = #{campaignId}
        Limit 1
    </select>

    <update id="campaignDelete">
        update campaign set
            is_deleted = 'Y',
            updated_at = NOW()
        where 
        campaign_id = #{id}
    </update>


    <update id="applyDelete">
        update user_campaign set
            is_deleted = 'Y',
            status = '0',
            apply_date = NULL,
            updated_at = NOW()
        where 
        campaign_id = #{id}
    </update>

    <select id="campaign07" resultType="CampaignVO">
        select c.campaign_Id, 
            place_addr,
            campaign_title,
            DATE_FORMAT(created_at, '%Y.%m.%d') created_at,
            applicants_Num,
            recruitment_Num
        from campaign c
        where 
        <if test="option.code == 0">
            (campaign_title like CONCAT('%', #{option.keyword}, '%')
            or status_code like CONCAT('%', #{option.keyword}, '%')
            or leader_code like CONCAT('%', #{option.keyword}, '%'))
        </if>
        <if test="option.code == 1">
            campaign_title like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 2">
            status_name like CONCAT('%', #{option.keyword}, '%')
        </if>
        <if test="option.code == 3">
            leader_code like CONCAT('%', #{option.keyword}, '%')
        </if>
        and is_deleted = 'N'
        and applicants_num = 0
        <if test="option.orderCode == 0">
            order by campaign_Id desc
        </if>
        <if test="option.orderCode == 1">
            order by campaign_title asc, id desc
        </if>
    </select>

    <update id="updateExpiredCampaignsStatus">
        <![CDATA[
            UPDATE campaign
            SET
                is_active = 'N',
                updated_at = NOW()
            WHERE 
                result_date < CURDATE()
            AND is_active = 'Y'
        ]]>
    </update>

    <!-- <insert id="insertCampaignLeaderApply">
        INSERT INTO user_campaign(
            campaign_id, 
            user_No, 
            user_id, 
            applied_str_date, 
            applied_end_date, 
            event_str_date, 
            event_end_date, 
            apply_date
        ) values 
        ( 
            #{campaignId}, 
            #{leaderNo}, 
            #{leaderCode}, 
            #{AppPeriodStr}, 
            #{AppPeriodEnd}, 
            #{eventPeriodStr}, 
            #{eventPeriodEnd}, 
            #{applyDate} 
        ) 
    </insert> -->

    <insert id="insertCampaignLeaderApply" parameterType="java.util.List">
        INSERT INTO user_campaign(
            campaign_id,
            user_No,
            user_id,
            applied_str_date,
            applied_end_date,
            event_str_date,
            event_end_date,
            time_segment,
            apply_date,
            status,
            is_leader
        ) values 
        <foreach collection="dailyEntries" item="entry" separator=",">
        (
            #{entry.campaignId},
            #{entry.userNo},
            #{entry.userId},
            #{entry.appliedStrDate},
            #{entry.appliedEndDate},
            #{entry.eventPeriodStr},
            #{entry.eventPeriodEnd},
            #{entry.timeSegment},
            #{entry.applyDate},
            '8',
            'Y'
        )
        </foreach>
    </insert>

    <select id="closedCampaign" resultMap="closedCampaignMap">
        SELECT
            c.campaign_Id,
            place_addr,
            campaign_title,
            company_ph,
            DATE_FORMAT(c.created_at, '%Y.%m.%d') created_at,
            type_code,
            (CASE
                WHEN type_code = '01' THEN '경호'
                WHEN type_code = '02' THEN '진행'
                WHEN type_code = '03' THEN '수행'
                ELSE ''
            END) as type_nm,
            applicants_Num,
            recruitment_Num,
            result_date,
            u.user_nm,
            c.app_period_str,
            c.app_period_end,
            c.event_Period_str,
            c.event_Period_End,
            u.phone_num leader_Phone
        FROM campaign c
        LEFT OUTER JOIN user u
        ON c.leader_code = u.id
        where
        c.is_deleted = 'N'
        AND c.is_active = 'N'
        order by campaign_Id desc
    </select>

    <update id="updateApplyDate" parameterType="CampaignVO">
        UPDATE user_campaign
        SET 
            apply_date = #{newDate},
            event_str_date = #{eventPeriodStr},
            event_end_date = #{eventPeriodEnd},
            updated_at = NOW()
        WHERE campaign_id = #{campaignId}
        AND apply_date = #{oldDate}
        AND is_deleted = 'N'
    </update>

    <update id="deleteApplyDate">
        UPDATE user_campaign
        SET is_deleted = 'Y'
        WHERE campaign_id = #{campaignId}
        AND apply_date = #{leftoverDate}
        AND is_deleted = 'N'
    </update>

    <insert id="copyApplyDate">
        INSERT INTO user_campaign (
            campaign_id,
            user_no,
            user_id,
            apply_date,
            event_str_date,
            event_end_date,
            status,
            is_leader,
            created_at,
            updated_at,
            is_deleted)
        SELECT 
            campaign_id,
            user_No,
            user_id,
            #{targetDate}, -- 새로 생성될 날짜
            #{newStrDate},
            #{newEndDate},
            #{status}, -- 상태는 매개변수로 전달받음 (예: '0' 또는 '8')
            #{isLeader}, -- 리더 여부도 매개변수로 전달받음 (예: 'Y' 또는 'N')
            now(),
            now(),
            'N'
        FROM user_campaign
        WHERE campaign_id = #{campaignId}
            AND apply_date = #{sourceDate} -- 복사 대상이 되는 원본 날짜
            AND is_deleted = 'N'
        Limit 1
    </insert>
</mapper>
