<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.safeg.admin.mapper.LeaderMapper">
    
    <select id="leaderSelect" resultType="AdminContentVO">
        SELECT 
            Admin_Content_id,
            title,
            content,
            content_type,
            author,
            created_at,
            updated_at
        FROM 
            Admin_Content
        where
            is_active = 'Y'
        AND content_type='LEADER'
        AND user_no = #{id}
    </select>

    <insert id="leaderInsert" parameterType="AdminContentVO">
        INSERT INTO Admin_Content 
            (content, title, author, content_type, user_no) 
        VALUES 
            (#{content}, #{title}, #{author}, 'LEADER', #{userNo});
    </insert>

    <update id="leaderUpdate" parameterType="AdminContentVO">
        UPDATE Admin_Content
        SET content = #{content},
            title = #{title},
            author = #{author},
            updated_at = CURRENT_TIMESTAMP
        WHERE content_type = 'LEADER'
        AND is_active = 'Y'
        AND user_no = #{userNo}
    </update>


    <select id="leaderList" resultType="UserVO">
        SELECT 
            *
        FROM 
            user
        where
            role = 'LEADER'
        AND
            is_deleted = 'N'
    </select>
</mapper>