<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.safeg.admin.mapper.LeaderMapper">
    
    <select id="leaderSelect" resultType="AdminContentVO">
        SELECT 
            AdminContent_id,
            title,
            content,
            content_type,
            author,
            created_at,
            updated_at
        FROM 
            AdminContent
        where
            is_active = 'Y'
            and content_type='LEADER'
    </select>

    <insert id="leaderInsert" parameterType="AdminContentVO">
        INSERT INTO AdminContent 
            (content, title, author, content_type) 
        VALUES 
            (#{content}, #{title}, #{author}, 'LEADER');
    </insert>

    <update id="leaderUpdate" parameterType="AdminContentVO">
        UPDATE AdminContent
        SET content = #{content},
            title = #{title},
            author = #{author},
            updated_at = CURRENT_TIMESTAMP
        WHERE content_type = 'LEADER'
        AND is_active = 'Y';
    </update>
</mapper>