<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/base_layout}"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        .point_List {
            width: 300%;
            max-width: 1200px;

            border-collapse: collapse;
            margin: 0px auto;
        }
        
        .point_List th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        .table_container {
            float: right;
            width: 77.5%;          /* 컨테이너 너비 설정 */
            display: grid;           /* 가로 나열 */
            justify-content: space-between; /* 테이블 사이 공간 균등 배분 */
            align-items: flex-start; /* 상단 정렬 */
            gap: 20px;               /* 테이블 사이 간격 */
        }
        .textalign_left {
            text-align: left;
        }
        .tableTitle {
            font-size: large;
            font-weight: bold;
            text-align: left;
        }
    </style>
    <title>Document</title>
</head>
    <main layout:fragment="content">
        <div class="main-side-content">
            <div class="container">
                <th:block th:replace="~{fragments/mypageSidebar :: mypageSidebarMenu}" />
            </div>
            <span class="mypage_title">포인트 내역</span>

            <div class="table_container">
                <div class="content-area">
                    <!-- <h2>토탈 포인트 : <span th:text="${totalPoint}">0</span></h2> -->
                </div>
                <div class="tableTitle">
                    완료된 행사 포인트 : 
                    <!-- <span th:if="${pointList != null and !pointList.isEmpty()}" th:text="${pointList[0].totalPoint}">0</span>
                    <span th:unless="${pointList != null and !pointList.isEmpty()}">0</span> -->
                </div>
                <table class="point_List" style="border: 1px;">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>캠페인 명</th>
                            <th>날짜</th>
                            <th>상태</th>
                            <th>포인트</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${pointList != null and !pointList.isEmpty()}">
                            <tr th:each="point, stat : ${pointList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${point.campaignTitle}"></td>
                                <td th:text="${#temporals.format(point.applyDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${point.statusNm}"></td>
                                <td th:text="${point.campaignPay}"></td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${pointList != null and !pointList.isEmpty()}">
                            <tr>
                                <td colspan="5" style="text-align:center;">참여 캠페인 정보가 없습니다.</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            
                <div class="tableTitle">
                    추천인 포인트 : 
                    <!-- <span th:if="${referrerPayList != null and !referrerPayList.isEmpty()}" th:text="${referrerPayList[0].totalPoint}">0</span>
                    <span th:unless="${referrerPayList != null and !referrerPayList.isEmpty()}">0</span> -->
                </div>
            
                <table class="point_List" style="border: 1px;">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>포인트</th>
                            <th>횟수</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${referrerPayList != null and !referrerPayList.isEmpty()}">
                            <tr th:each="giver, stat : ${referrerPayList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${giver.userNm}"></td>
                                <td th:text="${giver.totalAmount}"></td>
                                <td th:text="${giver.referrerCount}"></td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${referrerPayList != null and !referrerPayList.isEmpty()}">
                            <tr>
                                <td colspan="4" style="text-align:center;">추천인 포인트가 없습니다.</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <th:block th:if="${authId == '03'}">
                    <th:block th:if="${leaderPayList != null and !leaderPayList.isEmpty()}">
                        <div class="tableTitle">
                            인솔자 포인트 : 
                            <span th:text="${leaderPayList[0].campaignTitle != null and !#strings.isEmpty(leaderPayList[0].campaignTitle) ? leaderPayList[0].totalPoint : 0}">0</span>
                        </div>
                    
                        <table class="point_List" style="border:1px solid #000; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>캠페인 명</th>
                                    <th>횟수</th>
                                    <th>포인트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="giver, stat : ${leaderPayList}">
                                    <td th:text="${stat.index + 1}"></td>
                                    <td th:text="${giver.campaignTitle}"></td>
                                    <td th:text="${giver.count}"></td>
                                    <td th:text="${giver.leaderPoint}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </th:block>
                    
                    <th:block th:unless="${(leaderPayList != null and !leaderPayList.isEmpty())}">
                        <div class="tableTitle">
                            인솔자 포인트 : 0
                        </div>
                        <table class="point_List" style="border:1px solid #000; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>캠페인 명</th>
                                    <th>횟수</th>
                                    <th>포인트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" style="text-align:center;">인솔자 포인트의 정보가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </th:block>
                </th:block>
            </div>
        </div>
    </main>
</html>