<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layouts/base_layout}"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <style>
        .point_List th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        .textalign_left {
            text-align: left;
        }
        
    </style>
    <title>Document</title>
</head>
    <main layout:fragment="content">
        <div class="main-side-content">
            <div class="container">
                <th:block th:replace="~{fragments/mypageSidebar :: mypageSidebarMenuDesktop}" />
            </div>
            <div class="mypage_title">
                <span>포인트 내역</span>
            </div>
            
            <div class="table_container">
                <div class="content-area">
                    <!-- <h2>토탈 포인트 : <span th:text="${totalPoint}">0</span></h2> -->
                </div>
                <div class="mypage_subtitle">
                    <span>전체 포인트 : </span><span th:if="${totalPoint != 0}" th:text="${totalPoint}">0</span><span th:unless="${totalPoint != 0}">0</span>
                    <span> / 만근 포인트 : </span><span th:if="${attendAmount != 0}" th:text="${attendAmount}">0</span><span th:unless="${attendAmount != 0}">0</span>
                </div>
                <div class="tableTitle">
                    완료된 행사 포인트 : 
                    <span th:if="${workAmount != 0}" th:text="${workAmount}">0</span>
                    <span th:unless="${workAmount != 0}">0</span>
                </div>
                <table class="point_List" style="border: 1px;">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>캠페인 명</th>
                            <th>날짜</th>
                            <th>상태</th>
                            <th>포인트</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${workList != null and !workList.isEmpty()}">
                            <tr th:each="point, stat : ${workList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${point.campaignTitle}"></td>
                                <!-- <td th:text="${#temporals.format(point.missionDate, 'yyyy-MM-dd')}"></td> -->
                                <td th:text="${point.missionDate}"></td>
                                <td th:text="${point.statusNm}"></td>
                                <td th:text="${point.amount}"></td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${workList != null and !workList.isEmpty()}">
                            <tr>
                                <td colspan="5" style="text-align:center;">참여 캠페인 정보가 없습니다.</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            
                <div class="tableTitle">
                    추천인 포인트 : 
                    <span th:if="${referrerAmount != 0}" th:text="${referrerAmount}">0</span>
                    <span th:unless="${referrerAmount != 0}">0</span>
                </div>
            
                <table class="point_List" style="border: 1px;">
                    <colgroup>
                        <col style="width: 50px;"></col>
                        <col style="width: 150px;"></col>
                        <col style="width: 50px;"></col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>포인트</th>
                            <!-- <th>횟수</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${referrerList != null and !referrerList.isEmpty()}">
                            <tr th:each="giver, stat : ${referrerList}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${giver.userNm}"></td>
                                <td th:text="${giver.amount}"></td>
                                <!-- <td th:text="${giver.referralCount}"></td> -->
                            </tr>
                        </th:block>
                        <th:block th:unless="${referrerList != null and !referrerList.isEmpty()}">
                            <tr>
                                <td colspan="4" style="text-align:center;">추천인 포인트가 없습니다.</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <th:block th:if="${authId == '03'}">
                    <!-- <th:block th:if="${leaderList != null and !leaderList.isEmpty()}"> -->
                        <div class="tableTitle">
                            인솔자 포인트 : 
                            <span th:if="${leaderAmount != 0}" th:text="${leaderAmount}">0</span>
                            <span th:unless="${leaderAmount != 0}">0</span>
                        </div>
                    
                        <table class="point_List" style="border:1px solid #000; border-collapse: collapse;">
                            <colgroup>
                                <col style="width: 50px;"></col>
                                <col style="width: 150px;"></col>
                                <col style="width: 50px;"></col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>캠페인 명</th>
                                    <th>포인트</th>
                                    <!-- <th>횟수</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <th:block th:if="${leaderList != null and !leaderList.isEmpty()}">
                                <tr th:each="giver, stat : ${leaderList}">
                                    <td th:text="${stat.index + 1}"></td>
                                    <td th:text="${giver.campaignTitle}"></td>
                                    <td th:text="${giver.amount}"></td>
                                    <!-- <td th:text="${giver.leaderCount}"></td> -->
                                </tr>
                                </th:block>
                                <th:block th:unless="${leaderList != null and !leaderList.isEmpty()}">
                                    <tr>
                                        <td colspan="4" style="text-align:center;">추천인 포인트가 없습니다.</td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    <!-- </th:block> -->
                    
                    <!-- <th:block th:unless="${(leaderList != null and !leaderList.isEmpty())}">
                        <div class="tableTitle">
                            인솔자 포인트 : 0
                        </div>
                        <table class="point_List" style="border:1px solid #000; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>캠페인 명</th>
                                    <th>포인트</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="4" style="text-align:center;">인솔자 포인트의 정보가 없습니다.</td>
                                </tr>
                            </tbody>
                        </table>
                    </th:block> -->
                </th:block>
            </div>
        </div>
    </main>
    <th:block layout:fragment="script">
        <script src="/js/profile-upload.js"></script>
    </th:block>
</html>