<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="67314fa8548a5bdf42798f73804e02494fa64918" />
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">행집 경호원 사이트</title> <!-- title 태그도 넣는걸 추천해! -->

    <!-- 여기가 마이클의 common_head 프래그먼트가 들어갈 자리야 -->
    <th:block th:replace="~{fragments/head :: common_head}"></th:block>
</head>
<body>
    <header th:replace="~{fragments/header :: common_header}"></header>

    <main layout:fragment="content">
        <!-- 각 페이지의 'main' 내용이 여기에 삽입될 거야. -->
    </main>

    <div th:replace="~{fragments/footer :: common_footer}"></div>
    <!-- ⭐ 여기에는 layout-dialect의 페이지별 JS 삽그먼트도 넣어두면 좋아! ⭐ -->
    <th:block layout:fragment="script"></th:block>
</body>
</html>